Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 improve hr and gap cursor
  packages/plugin-cursor/src/index.ts
  packages/preset-commonmark/src/node/hr.ts
Due: eslint --fix

fix: 🐛 improve hr
  packages/preset-commonmark/src/node/hr.ts
Due: eslint --fix

refactor: 💡 mak code sand box plugin atomic
  gh-pages/component/MilkdownEditor/codeSandBox.ts
  packages/utils/src/composable/$remark.ts
Due: eslint --fix

Composable Plugins (#191)
  gh-pages/component/MilkdownEditor/codeSandBox.ts
  packages/plugin-cursor/src/index.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/index.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 add view for composable api
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
  packages/utils/src/composable/$view.ts
  packages/utils/src/composable/index.ts
Due: eslint --fix, prettier --write

feat: 🎸 make remark plugin can access ctx
  gh-pages/component/MilkdownEditor/codeSandBox.ts
  packages/utils/src/composable/$remark.ts
Due: eslint --fix

docs: ✏️ update doc to v5 for integrating plugins
  gh-pages/pages/plugins/integrating-plugins/index.md
  gh-pages/pages/plugins/integrating-plugins/index.zh-hans.md
Due: prettier --write

fix: 🐛 clipboard plugin issue 190
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

docs: ✏️ update zh-cn doc for syntax plugins
  gh-pages/pages/plugins/writing-syntax-plugins/index.zh-hans.md
Due: prettier --write

docs: ✏️ update doc in internals
  gh-pages/pages/internals/node-and-mark/index.md
  gh-pages/pages/internals/node-and-mark/index.zh-hans.md
  gh-pages/pages/internals/parser/index.md
  gh-pages/pages/internals/parser/index.zh-hans.md
  gh-pages/pages/internals/serializer/index.md
  gh-pages/pages/internals/serializer/index.zh-hans.md
Due: prettier --write

docs: ✏️ update docs of internal plugins
  gh-pages/pages/internals/internal-plugins/index.md
  gh-pages/pages/internals/internal-plugins/index.zh-hans.md
Due: prettier --write

docs: ✏️ add comments in clipboard for workaround
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

docs: ✏️ add doc for composable
  gh-pages/pages/tools/using-utils-package/index.md
  packages/utils/src/composable/$view.ts
Due: eslint --fix, prettier --write

docs: ✏️ update zh-hans docs for utils package
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/strange-falcons-search.md
Due: none

fix: 🐛 view override by options broken
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/types.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/eleven-paws-pretend.md
Due: none

chore: 🤖 update example app
  packages/react/app/main.tsx
Due: eslint --fix

fix: 🐛 hardbreak should not include mark
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/utils/src/index.ts
Due: eslint --fix

fix: 🐛 remove inserted mark for hr
  packages/preset-commonmark/src/node/hardbreak.ts
Due: eslint --fix

fix: 🐛 issue of position calculate
  packages/prose/src/toolkit/position/index.ts
Due: eslint --fix

fix: 🐛 optimize emoji input behavior when in marks
  packages/plugin-emoji/src/node.ts
Due: eslint --fix

fix: 🐛 add merge for mark
  packages/core/src/serializer/stack.ts
  packages/plugin-emoji/src/node.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/gentle-tips-explain.md
Due: none

refactor: 💡 extract the transformer module
  package.json
  packages/core/src/index.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/transformer/README.md
  packages/transformer/jest.config.js
  packages/transformer/package.json
  packages/transformer/src/index.ts
  packages/transformer/src/parser/index.ts
  packages/transformer/src/parser/stack-element.spec.ts
  packages/transformer/src/parser/stack-element.ts
  packages/transformer/src/parser/stack.spec.ts
  packages/transformer/src/parser/stack.ts
  packages/transformer/src/parser/state.spec.ts
  packages/transformer/src/parser/state.ts
  packages/transformer/src/parser/types.ts
  packages/transformer/src/serializer/index.ts
  packages/transformer/src/serializer/stack-element.spec.ts
  packages/transformer/src/serializer/stack-element.ts
  packages/transformer/src/serializer/stack.spec.ts
  packages/transformer/src/serializer/stack.ts
  packages/transformer/src/serializer/state.spec.ts
  packages/transformer/src/serializer/state.ts
  packages/transformer/src/serializer/types.ts
  packages/transformer/src/utility/index.ts
  packages/transformer/src/utility/stack.ts
  packages/transformer/src/utility/types.ts
  packages/transformer/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

feat: split nord light and dark theme
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/style.css
  packages/design-system/src/index.ts
  packages/design-system/src/types.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/nord.ts
Due: eslint --fix

feat: export nord by media
  gh-pages/component/MilkdownEditor/editor.ts
  packages/theme-nord/src/index.ts
Due: eslint --fix

feat: rampup menu plugin
  package.json
  packages/plugin-menu/README.md
  packages/plugin-menu/app/index.html
  packages/plugin-menu/app/main.ts
  packages/plugin-menu/app/style.css
  packages/plugin-menu/package.json
  packages/plugin-menu/src/config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/item.ts
  packages/plugin-menu/src/prose-plugin/dropdown.ts
  packages/plugin-menu/src/prose-plugin/index.ts
  packages/plugin-menu/src/prose-plugin/input.ts
  packages/plugin-menu/src/prose-plugin/props.ts
  packages/plugin-menu/src/prose-plugin/status.ts
  packages/plugin-menu/src/prose-plugin/view.ts
  packages/plugin-menu/src/style.ts
  packages/plugin-menu/src/utility.ts
  packages/plugin-menu/tsconfig.json
  packages/plugin-menu/vite.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore: 🤖 clear exist code
  packages/plugin-menu/src/config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/item.ts
  packages/plugin-menu/src/prose-plugin/dropdown.ts
  packages/plugin-menu/src/prose-plugin/index.ts
  packages/plugin-menu/src/prose-plugin/input.ts
  packages/plugin-menu/src/prose-plugin/props.ts
  packages/plugin-menu/src/prose-plugin/status.ts
  packages/plugin-menu/src/prose-plugin/view.ts
  packages/plugin-menu/src/style.ts
  packages/plugin-menu/src/utility.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: 🐛 editor area issue
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-menu/src/index.ts
  packages/theme-nord/src/override.ts
Due: eslint --fix

feat: add ui for icon button
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add select type menu item
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: 🎸 optimize menubar ui
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: 🎸 optimize ui
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: optimize some code
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

feat: add default config
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add key command for button
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
Due: eslint --fix

fix: 🐛 image selection error
  packages/plugin-menu/src/button.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

fix: add selected style for image
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 add manager for menu
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
