Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: 🤖 upload lock file
  pnpm-lock.yaml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

feat: 🎸 make prism plugin can be configured with refractor
  packages/plugin-prism/src/get-decorations.ts
  packages/plugin-prism/src/index.ts
  packages/plugin-prism/src/prism.ts
Due: eslint --fix

chore: 🤖 release 5.5.0
  .changeset/tame-icons-search.md
Due: none

Stop clobbering view options in the clipboard plugin
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

feat: added plain text option as default.
  packages/plugin-menu/README.md
  packages/plugin-menu/src/default-config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency @types/estree to ^0.0.51
  gh-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: ✏️ add contributor and sponsor in readme
  README.md
Due: none

feat: 🎸 move provider and inject before times
  packages/core/src/internal-plugin/theme.ts
  packages/utils/src/factory/create-node.ts
Due: eslint --fix

feat: 🎸 migrate from themeTool to themeManager
  packages/core/src/internal-plugin/theme/index.ts
  packages/core/src/internal-plugin/theme/keys.ts
  packages/plugin-cursor/src/index.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-math/src/math-block/style.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/plugin-tooltip/src/utility/toggle.ts
  packages/plugin-upload/src/upload.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-gfm/src/strike-through.ts
  packages/preset-gfm/src/table/nodes/style.ts
  packages/preset-gfm/src/table/operator-plugin/actions.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/preset-gfm/src/table/operator-plugin/widget.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/index.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 improve composable utils
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
Due: eslint --fix

fix: 🐛 multiple export
  packages/core/src/internal-plugin/theme/index.ts
  packages/design-system/src/types.ts
  packages/plugin-collaborative/src/injectStyle.ts
Due: eslint --fix

feat: 🎸 add theme keys in plugin
  packages/core/src/internal-plugin/theme.ts
  packages/core/src/internal-plugin/theme/emotion.ts
  packages/core/src/internal-plugin/theme/index.ts
  packages/core/src/internal-plugin/theme/keys.ts
  packages/core/src/internal-plugin/theme/manager.ts
  packages/design-system/src/index.ts
  packages/design-system/src/transformer.ts
  packages/design-system/src/types.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/mixin.ts
  packages/theme-nord/src/nord.ts
  packages/theme-nord/src/override.ts
  packages/theme-nord/src/slots.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 separate inject and provide
  packages/core/src/internal-plugin/theme.ts
Due: eslint --fix

feat: 🎸 create theme manager
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/theme.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
Due: eslint --fix

fix: 🐛 type errors
  packages/design-system/src/default-value.ts
  packages/design-system/src/transformer.ts
Due: eslint --fix

refactor: 💡 optimize code
  packages/core/src/internal-plugin/theme.ts
  packages/core/src/internal-plugin/theme/emotion.ts
  packages/design-system/package.json
  packages/design-system/src/emotion.ts
  packages/design-system/src/index.ts
  packages/design-system/src/keys.ts
  packages/design-system/src/manager.ts
  packages/design-system/src/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add setLazy
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/manager.ts
  packages/preset-commonmark/src/node/blockquote.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/slots.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 rename setLazy to setCustom
  packages/design-system/src/manager.ts
  packages/theme-nord/src/index.ts
Due: eslint --fix

feat: 🎸 move common styles into theme
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

docs: 🌐improved Chinese translation
  gh-pages/pages/integrations/angular/index.zh-hans.md
  gh-pages/pages/integrations/svelte/index.zh-hans.md
  gh-pages/pages/integrations/vue2/index.zh-hans.md
Due: prettier --write

feat: 🎸 extract code fence to custom
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-nord/src/custom/code-fence.ts
  packages/theme-nord/src/custom/index.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: 🎸 extract image style
  packages/design-system/src/manager.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/theme-nord/package.json
  packages/theme-nord/src/custom/code-fence.ts
  packages/theme-nord/src/custom/image.ts
  packages/theme-nord/src/custom/index.ts
  packages/theme-nord/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 e2e test
  e2e/cypress/integration/preset-commonmark/input.spec.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 move the implementation of code fence into theme
  packages/design-system/src/keys.ts
  packages/design-system/src/manager.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-nord/src/custom/code-fence.ts
Due: eslint --fix

fix: 🐛 type error
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/table/nodes/style.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: 🎸 check before set renderer
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

feat: 🎸 move image renderer into theme
  .vscode/settings.json
  packages/plugin-tooltip/src/utility/input.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/theme-nord/src/custom/image.ts
Due: eslint --fix

refactor: 💡 optimize code
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

test: 💍 upgrade snapshot
  e2e/snapshots.js
Due: none

feat: 🎸 move the link implementation in commonmark into theme
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-nord/src/icon.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

chore: 🤖 update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  packages/theme-nord/src/custom/code-fence.ts
  packages/theme-nord/src/custom/image.ts
  pnpm-lock.yaml
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
