Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

feat: 🎸 make codeblock scrollable
  gh-pages/package.json
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix, prettier --write

fix: 🐛 IME heading bugs
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

fix: 🐛 type error
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

feat: 🎸 improve the heading id behavior
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/heading.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize unicode heading id generation
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/heading.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 improve the implementation of heading id
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

fix: process uppercase emoji search inputs
  packages/plugin-emoji/src/filter/helper.ts
Due: eslint --fix

fix: escape double quotes in eslint glob
  package.json
Due: none

fix: 🐛 emoji filter selection bug
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

Downcase emoji searches (#309)
  package.json
  packages/plugin-emoji/src/filter/helper.ts
Due: eslint --fix

feat: 🎸 optimize dep org
  examples/react/package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 type rror
  packages/plugin-slash/src/config.ts
Due: eslint --fix

refactor: 💡 optimize deps
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/vue/package.json
Due: prettier --write

chore: 🤖 update lock
  pnpm-lock.yaml
Due: none

feat: 🎸 slash plugin display conflict with upload placeholder
  packages/plugin-slash/package.json
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-tooltip/src/utility/input.ts
  packages/plugin-upload/src/index.ts
  packages/plugin-upload/src/upload.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

chore: 🤖 update peer dep version
  examples/vue/package.json
  packages/core/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

chore(deps): roll back all dependencies to ^5.3.5
  packages/core/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 release 5.4.0
  .changeset/poor-pans-yawn.md
Due: none

feat: 🎸 support call by key name
  packages/core/src/internal-plugin/commands.ts
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-history/src/index.ts
  packages/plugin-indent/src/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/package.json
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/package.json
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-tooltip/package.json
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/input.ts
  packages/plugin-tooltip/src/utility/toggle.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/em.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/bullet-list.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/node/ordered-list.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/preset-gfm/src/strike-through.ts
  packages/preset-gfm/src/table/nodes/index.ts
  packages/preset-gfm/src/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 upgrade vitest
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 release 5.4.1
  .changeset/weak-coats-enjoy.md
Due: none

fix: refractor (dep -> peerDep)
  packages/plugin-prism/package.json
Due: prettier --write

feat: 🎸 improve error message of unthemed
  packages/utils/src/factory/common.ts
Due: eslint --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: 🐛 autolink bug when pressing space
  gh-pages/chalk.js
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/package.json
  gh-pages/vite-env.d.ts
  gh-pages/vite.config.ts
  package.json
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-listener/src/index.ts
  packages/plugin-menu/src/index.ts
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-gfm/src/auto-link.ts
  packages/prose/src/toolkit/input-rules/custom-input-rules.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 unit test
  packages/transformer/src/parser/state.ts
Due: eslint --fix

chore: 🤖 satisfy eslint
  packages/core/src/internal-plugin/commands.ts
Due: eslint --fix

feat: autofocus tooltip input & submit on Enter key
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/utility/input.ts
Due: eslint --fix

fix: 🐛 heading error on macos
  examples/vanilla/index.html
  examples/vanilla/main.ts
  examples/vanilla/package.json
  examples/vanilla/style.css
  examples/vanilla/tsconfig.json
  examples/vanilla/vite.config.ts
  packages/preset-commonmark/src/node/heading.ts
  pnpm-lock.yaml
Due: eslint --fix

docs: ✏️ add duhaime as contributor
  README.md
Due: none

fix: 🐛 regression of tooltip link input
  packages/plugin-tooltip/src/utility/input.ts
Due: eslint --fix

fix: 🐛 input content is empty on mobile
  packages/plugin-tooltip/src/utility/input.ts
Due: eslint --fix

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none
