Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 github action error
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 add needs
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 use cache for pnpm
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 fix issue
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 update script
  e2e/package.json
  package.json
Due: none

chore: 🤖 add cypress record key
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 try to downgrade the cypress action
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 downgrade cypress action version
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 record e2e
  .github/workflows/ci-for-pr.yml
Due: none

fix: 🐛 typo
  .github/workflows/ci-for-pr.yml
Due: none

fix: 🐛 go to subrepo
  .github/workflows/ci-for-pr.yml
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
Due: none

ci: 🎡 remove custom e2e command
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 collect result
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 on error
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 remove fail command
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 fix syntax error
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 typo
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 add firefox for e2e (#724)
  .github/workflows/ci-for-pr.yml
  e2e/cypress.config.ts
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/package.json
  package.json
Due: none

chore: 🤖 update cypress project id
  e2e/cypress.config.ts
Due: none

docs: ✏️ add destroy in macro doc
  website/pages/guide/macros/index.md
Due: none

feat: 🎸 add remove API for slice, timer and plugin
  packages/core/src/editor/editor.ts
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/plugin/env.ts
  packages/ctx/src/plugin/types.ts
  packages/ctx/src/timing/clock.ts
Due: eslint --fix

feat: 🎸 add post and destroy
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/config.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/plugin/index.ts
  packages/ctx/src/plugin/post.ts
  packages/ctx/src/plugin/types.ts
Due: eslint --fix

chore: 🤖 bug fix
  packages/core/src/editor/editor.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/timing/clock.ts
  packages/ctx/src/timing/timing.ts
Due: eslint --fix

refactor: 💡 add prepare
  packages/core/src/editor/editor.ts
Due: eslint --fix

test: 💍 add unit test for remove slice and timer
  packages/core/src/editor/editor.ts
  packages/ctx/src/context/container.spec.ts
  packages/ctx/src/timing/clock.spec.ts
Due: eslint --fix

feat: 🎸 destroy editor view during the destroy progress
  packages/core/src/internal-plugin/editor-view.ts
Due: eslint --fix

[RFC]: make plugins can be removed (#729)
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/config.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/context/container.spec.ts
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/plugin/env.ts
  packages/ctx/src/plugin/index.ts
  packages/ctx/src/plugin/post.ts
  packages/ctx/src/plugin/types.ts
  packages/ctx/src/timing/clock.spec.ts
  packages/ctx/src/timing/clock.ts
  packages/ctx/src/timing/timing.ts
Due: eslint --fix

fix: 🐛 ts error in new deps
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/shim.d.ts
Due: eslint --fix

feat: 🎸 make slash position calculate can be configured
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/view.ts
Due: eslint --fix

chore: 🤖 restore unneed change
  packages/plugin-slash/src/config.ts
Due: eslint --fix

chore: 🤖 trigger releasing
  .changeset/soft-mugs-exercise.md
Due: none

ci(changeset): release milkdown (#734)
  .changeset/soft-mugs-exercise.md
  examples/vanilla/CHANGELOG.md
  examples/vanilla/package.json
  examples/vue/CHANGELOG.md
  examples/vue/package.json
  packages/plugin-slash/CHANGELOG.md
  packages/plugin-slash/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write

feat: 🎸 integrate destroy for core modules
  packages/react/src/useGetEditor.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/factory/pipeline.ts
  packages/vue/src/useGetEditor.ts
Due: eslint --fix

refactor: 💡 remove unneed eslint disable
  packages/utils/src/factory/pieces.ts
Due: eslint --fix

feat: 🎸 add recreate for editor
  examples/vanilla/main.ts
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/commands.ts
  packages/react/src/useGetEditor.ts
  packages/utils/src/factory/pieces.ts
Due: eslint --fix

feat: 🎸 combine create and recreate
  examples/vanilla/main.ts
  packages/core/src/editor/editor.ts
Due: eslint --fix

fix: 🐛 react bug
  packages/plugin-prism/package.json
  packages/plugin-prism/src/index.ts
  packages/plugin-prism/src/prism.ts
  packages/react/src/useGetEditor.ts
  pnpm-lock.yaml
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/OnlineEditor.tsx
Due: eslint --fix, prettier --write

fix: 🐛 not to destroy if is being destoyed
  packages/core/src/editor/editor.ts
  packages/react/src/useGetEditor.ts
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/OnlineEditor.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
