Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 emoji-filter-position (#802)
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

fix: 🐛 task list item checked style
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

fix: 🐛 task list item checked style (#803)
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

chore: 🤖 trigger releasing
  .changeset/stupid-ears-cross.md
Due: none

fix: 🐛 table column resizing handle position
  packages/preset-gfm/src/table/plugin/column-resizing.ts
Due: eslint --fix

fix: 🐛 table column resizing handle position (#807)
  packages/preset-gfm/src/table/plugin/column-resizing.ts
Due: eslint --fix

feat: 🎸 add an option to show input chip when selected for link
  packages/preset-commonmark/src/mark/link.ts
  website/pages/official-plugins/preset-commonmark/index.md
Due: eslint --fix

feat: 🎸 add an option to show input chip when selected for link (#810)
  packages/preset-commonmark/src/mark/link.ts
  website/pages/official-plugins/preset-commonmark/index.md
Due: eslint --fix

feat: 🎸 optimize code fence select height and position
  packages/design-system/src/keys/renderer/code-fence.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
Due: eslint --fix

feat: 🎸 optimize code fence select height and position (#814)
  packages/design-system/src/keys/renderer/code-fence.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
Due: eslint --fix

chore: fix typos
  website/pages/guide/keyboard-shortcuts/index.zh-hans.md
Due: none

chore: fix typos (#816)
  website/pages/guide/keyboard-shortcuts/index.zh-hans.md
Due: none

test: 💍 optimize test
  packages/ctx/src/timing/timing.spec.ts
Due: eslint --fix

test: 💍 remove prettier test
  package.json
Due: none

chore: 🤖 remove prettier in dev contaienr extension
  .devcontainer/devcontainer.json
Due: none

fix: 🐛 emoji filter update active item by mouse event
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

fix: 🐛 hide slash placeholder when editable is false
  packages/plugin-slash/src/config.ts
Due: eslint --fix

fix: 🐛 emoji filter update active item by mouse event (#826)
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

fix: 🐛 hide slash placeholder when editable is false (#827)
  packages/plugin-slash/src/config.ts
Due: eslint --fix

feat: 🎸 optimize block menu height and position
  packages/plugin-block/src/block-menu-dom.ts
Due: eslint --fix

feat: 🎸 optimize block menu height and position (#829)
  packages/plugin-block/src/block-menu-dom.ts
Due: eslint --fix

chore: 🤖 upgrade typescript
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 disable table operator when editable is false
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/preset-gfm/src/table/plugin/column-resizing.ts
Due: eslint --fix

fix: 🐛 disable table operator when editable is false (#833)
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/preset-gfm/src/table/plugin/column-resizing.ts
Due: eslint --fix

docs: ✏️ add api generator for ctx module
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/plugin/env.ts
  packages/ctx/src/plugin/types.ts
  pnpm-lock.yaml
  website/component/MilkdownEditor/DocRenderer.tsx
  website/package.json
  website/pages/core-modules/ctx/index.md
  website/shim.d.ts
  website/vite-plugins/markdown-plugin.ts
  website/vite.config.ts
Due: eslint --fix

chore: 🤖 turn off @typescript-eslint/consistent-type-definition
  .eslintrc.js
  website/vite.config.ts
Due: none

chore: 🤖 improve eslint rules
  .eslintignore
  .eslintrc.js
  examples/vue/App.vue
  examples/vue/CodeFence/CodeFence.vue
  examples/vue/Milkdown.vue
  examples/vue/VueEditor.tsx
  package.json
  packages/react/src/Editor.tsx
  packages/react/src/EditorComponent.tsx
  packages/react/src/Portals.tsx
  packages/vue/src/Editor.tsx
  packages/vue/src/EditorComponent.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/rich-jeans-thank.md
Due: none

chore: 🤖 add repository key in package json
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-block/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-trailing/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

chore: 🤖 remove design system and theme from core
  .vscode/settings.json
  packages/core/package.json
  packages/core/src/editor/editor.ts
  packages/core/src/index.ts
  packages/core/src/internal-plugin/index.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/theme.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/factory/pieces.ts
  packages/utils/src/factory/pieces/apply-prose-plugins.ts
  packages/utils/src/factory/pieces/apply-remark-plugins.ts
  packages/utils/src/factory/pieces/apply-schema.ts
  packages/utils/src/factory/pieces/apply-view.ts
  packages/utils/src/factory/pieces/create-commands.ts
  packages/utils/src/factory/pieces/create-input-rules.ts
  packages/utils/src/factory/pieces/create-shortcuts.ts
  packages/utils/src/factory/pieces/index.ts
  packages/utils/src/factory/pieces/inject-env.ts
  packages/utils/src/factory/pieces/inject-slices.ts
  packages/utils/src/factory/pieces/options.ts
  packages/utils/src/factory/pieces/type.ts
  packages/utils/src/macro/index.ts
  packages/utils/src/macro/replace-all.ts
  packages/utils/src/macro/switch-theme.ts
  packages/utils/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 remove factories
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/ctx/src/plugin/env.ts
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/text.ts
  packages/utils/src/atom/atom-list.ts
  packages/utils/src/atom/index.ts
  packages/utils/src/composable/$ctx.ts
  packages/utils/src/composable/index.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/factory/index.ts
  packages/utils/src/factory/pieces/apply-prose-plugins.ts
  packages/utils/src/factory/pieces/apply-remark-plugins.ts
  packages/utils/src/factory/pieces/apply-schema.ts
  packages/utils/src/factory/pieces/apply-view.ts
  packages/utils/src/factory/pieces/create-commands.ts
  packages/utils/src/factory/pieces/create-input-rules.ts
  packages/utils/src/factory/pieces/create-shortcuts.ts
  packages/utils/src/factory/pieces/index.ts
  packages/utils/src/factory/pieces/inject-env.ts
  packages/utils/src/factory/pieces/inject-slices.ts
  packages/utils/src/factory/pieces/options.ts
  packages/utils/src/factory/pieces/type.ts
  packages/utils/src/factory/pipeline.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  website/pages/core-modules/ctx/index.md
Due: eslint --fix

feat: 🎸 finish refactor of node and plugin in preset-commonmark
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/bullet-list.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/doc.ts
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-commonmark/src/node/index.ts
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/node/ordered-list.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/preset-commonmark/src/node/text.ts
  packages/preset-commonmark/src/plugin/add-order-in-list-plugin.ts
  packages/preset-commonmark/src/plugin/filter-html.ts
  packages/preset-commonmark/src/plugin/hardbreak-clear-mark-plugin.ts
  packages/preset-commonmark/src/plugin/hardbreak-filter-plugin.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-nodes-cursor-plugin.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/config.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/context.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/regexp.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/replacer.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/utils.ts
  packages/preset-commonmark/src/plugin/sync-heading-id-plugin.ts
  packages/preset-commonmark/src/plugin/sync-list-order-plugin.ts
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/composed/$node-schema.ts
  packages/utils/src/composable/composed/$user-keymap.ts
  packages/utils/src/composable/composed/index.ts
  packages/utils/src/composable/index.ts
Due: eslint --fix

feat: 🎸 add cleanup for composables
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/$view.ts
  packages/utils/src/composable/utils.ts
Due: eslint --fix

feat: 🎸 finish refactor for mark
  packages/preset-commonmark/src/index.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/em.ts
  packages/preset-commonmark/src/mark/emphasis.ts
  packages/preset-commonmark/src/mark/index.ts
  packages/preset-commonmark/src/mark/inline-code.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/code-block.ts
  packages/preset-commonmark/src/node/index.ts
  packages/preset-commonmark/src/plugin/add-order-in-list-plugin.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/preset-commonmark/src/plugin/remark-add-order-in-list-plugin.ts
  packages/preset-commonmark/src/plugin/remark-inline-link-plugin.ts
  packages/preset-commonmark/src/supported-keys.ts
  packages/preset-commonmark/src/types.d.ts
  packages/utils/src/composable/composed/$mark-schema.ts
  packages/utils/src/composable/composed/index.ts
Due: eslint --fix

feat: 🎸 add composed for commonmark
  examples/vanilla/index.html
  examples/vanilla/main.ts
  packages/core/src/internal-plugin/init.ts
  packages/preset-commonmark/src/composed/commands.ts
  packages/preset-commonmark/src/composed/index.ts
  packages/preset-commonmark/src/composed/inputrules.ts
  packages/preset-commonmark/src/composed/keymap.ts
  packages/preset-commonmark/src/composed/plugins.ts
  packages/preset-commonmark/src/composed/schema.ts
  packages/preset-commonmark/src/index.ts
  packages/preset-commonmark/src/mark/emphasis.ts
  packages/preset-commonmark/src/mark/inline-code.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/blockquote.ts
  packages/preset-commonmark/src/node/bullet-list.ts
  packages/preset-commonmark/src/node/code-block.ts
  packages/preset-commonmark/src/node/doc.ts
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-commonmark/src/node/index.ts
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/node/ordered-list.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/preset-commonmark/src/plugin/hardbreak-clear-mark-plugin.ts
  packages/preset-commonmark/src/plugin/inline-nodes-cursor-plugin.ts
  packages/preset-commonmark/src/plugin/sync-heading-id-plugin.ts
  packages/preset-commonmark/src/plugin/sync-list-order-plugin.ts
  packages/preset-gfm/src/supported-keys.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
Due: eslint --fix

fix: 🐛 inline sync plugin ref
  examples/vanilla/index.html
  examples/vanilla/main.ts
  packages/preset-commonmark/src/composed/plugins.ts
  packages/preset-commonmark/src/index.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/config.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/context.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/inline-sync-plugin.ts
  packages/preset-commonmark/src/plugin/inline-sync-plugin/replacer.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
