Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

feat: 🎸 add init for input chip
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

refactor: 💡 extract internal theme keys into design system
  packages/design-system/src/keys/code-fence.ts
  packages/design-system/src/keys/image.ts
  packages/design-system/src/keys/inner-editor.ts
  packages/design-system/src/keys/task-list-item.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-pack-helper/package.json
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 call command in link input chip
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

feat: 🎸 use new input chip in link mark
  packages/plugin-tooltip/src/item.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/mark/link.ts
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: 💡 move all keys into design system
  packages/design-system/src/keys.ts
  packages/design-system/src/keys/border.ts
  packages/design-system/src/keys/code-fence.ts
  packages/design-system/src/keys/color.ts
  packages/design-system/src/keys/font.ts
  packages/design-system/src/keys/icon.ts
  packages/design-system/src/keys/image.ts
  packages/design-system/src/keys/index.ts
  packages/design-system/src/keys/inner-editor.ts
  packages/design-system/src/keys/input-chip.ts
  packages/design-system/src/keys/scrollbar.ts
  packages/design-system/src/keys/shadow.ts
  packages/design-system/src/keys/size.ts
  packages/design-system/src/keys/task-list-item.ts
Due: eslint --fix

feat: 🎸 add input chip (#399)
  packages/design-system/src/keys.ts
  packages/design-system/src/keys/border.ts
  packages/design-system/src/keys/code-fence.ts
  packages/design-system/src/keys/color.ts
  packages/design-system/src/keys/font.ts
  packages/design-system/src/keys/icon.ts
  packages/design-system/src/keys/image.ts
  packages/design-system/src/keys/index.ts
  packages/design-system/src/keys/inner-editor.ts
  packages/design-system/src/keys/input-chip.ts
  packages/design-system/src/keys/scrollbar.ts
  packages/design-system/src/keys/shadow.ts
  packages/design-system/src/keys/size.ts
  packages/design-system/src/keys/task-list-item.ts
  packages/design-system/src/manager.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-pack-helper/package.json
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 fix placeholder typo for input chip
  packages/design-system/src/keys/input-chip.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

feat: 🎸 make position calculator can be configured
  packages/design-system/src/keys/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

feat: 🎸 move image input link into image node
  packages/plugin-tooltip/src/item.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

fix: 🐛 image input chip
  packages/theme-pack-helper/src/renderer-preset/image.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.6.0
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 extract math inline input into math plugin
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

fix: 🐛 root ctx definition
  packages/core/src/internal-plugin/editor-view.ts
Due: eslint --fix

fix: ensure rootCtx use document.body if not set
  packages/core/src/internal-plugin/editor-view.ts
Due: eslint --fix

fix: 🐛 root ctx definition (#416)
  packages/core/src/internal-plugin/editor-view.ts
Due: eslint --fix

fix: 🐛 input chip display in readonly mode
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

refactor: 💡 optimize type codes and deps
  examples/react/package.json
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/index.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/shim.d.ts
  packages/plugin-diagram/tsconfig.json
  packages/plugin-diagram/typings/mermaid/index.d.ts
  packages/react/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 add nx
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 add scripts
  package.json
Due: none

ci: 🎡 use nx in ci
  .github/workflows/check.yml
Due: none

ci: 🎡 speed up ci by run tsc with nx
  gh-pages/package.json
  package.json
Due: prettier --write

chore: 🤖 fix eslint idle
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: none

ci: 🎡 improve ci
  .github/workflows/ci.yml
Due: none

chore: 🤖 add tsc in cachable
  nx.json
Due: none

ci: 🎡 optimize ci
  .github/workflows/check.yml
Due: none

fix: 🐛 error in ci file
  .github/workflows/check.yml
Due: none

fix: 🐛 ci file
  .github/workflows/check.yml
Due: none

fix: 🐛 ci bugs
  .github/workflows/check.yml
Due: none

fix: 🐛 ci error
  e2e/package.json
  examples/react/package.json
  examples/vanilla/package.json
  examples/vue/package.json
  gh-pages/package.json
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

fix: 🐛 ci bug
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

Add nx to speed up build (#422)
  .eslintignore
  .github/workflows/check.yml
  .github/workflows/ci.yml
  e2e/package.json
  examples/react/package.json
  examples/vanilla/package.json
  examples/vue/package.json
  gh-pages/package.json
  nx.json
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 infra for switch theme functions
  examples/vanilla/main.ts
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/timing/timing.ts
  packages/design-system/src/manager.ts
  packages/theme-nord/src/index.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

feat: 🎸 add switch function for theme manager
  examples/vanilla/main.ts
  packages/design-system/src/manager.ts
Due: eslint --fix

feat: 🎸 add onflush for some components
  gh-pages/component/App.tsx
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/package.json
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/manager.ts
  packages/plugin-diagram/src/node.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 make all components support theme switch
  packages/plugin-emoji/src/node.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
Due: eslint --fix

Make theme can be switched (#424)
  examples/vanilla/main.ts
  gh-pages/component/App.tsx
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/package.json
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/timing/timing.ts
  packages/design-system/src/manager.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/theme-nord/src/index.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 slice status cache error
  gh-pages/component/MilkdownEditor/editor.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/timing/timing.ts
Due: eslint --fix

fix: 🐛 docs
  packages/preset-gfm/README.md
Due: prettier --write
