Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: ✏️ update official plugin list
  gh-pages/pages/plugins/using-plugins/index.md
Due: prettier --write

chore: 🤖 update funding yml
  .github/FUNDING.yml
Due: none

chore: 🤖 optimize readme files
  packages/design-system/README.md
  packages/exception/README.md
  packages/plugin-clipboard/README.md
  packages/plugin-collaborative/README.md
  packages/plugin-cursor/README.md
  packages/plugin-diagram/README.md
  packages/plugin-emoji/README.md
  packages/plugin-history/README.md
  packages/plugin-indent/README.md
  packages/plugin-listener/README.md
  packages/plugin-math/README.md
  packages/plugin-prism/README.md
  packages/plugin-slash/README.md
  packages/plugin-table/README.md
  packages/plugin-tooltip/README.md
  packages/plugin-upload/README.md
  packages/preset-commonmark/README.md
  packages/preset-gfm/README.md
  packages/react/README.md
  packages/theme-nord/README.md
  packages/utils/README.md
  packages/vue/README.md
Due: prettier --write

docs: ✏️ fix typo in doc
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/interacting-with-editor/index.zh-hans.md
Due: prettier --write

feat: 🎸 typo in upload readme
  packages/plugin-upload/README.md
Due: prettier --write

feat: replace break space in doc
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
  gh-pages/component/MilkdownEditor/codeSandBox.ts
Due: eslint --fix, prettier --write

docs: ✏️ fix typo
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/interacting-with-editor/index.zh-hans.md
Due: prettier --write

fix: heading index should support h6
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

refactor: 💡 remove getId and replace with nanoid
  packages/react/package.json
  packages/react/src/ReactNodeView.tsx
  packages/utils/src/getId.ts
  packages/utils/src/index.ts
  packages/vue/package.json
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add prose package
  packages/design-system/package.json
  packages/plugin-table/src/utils.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/em.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/prose/src/toolkit/input-rules/mark-rule.ts
  packages/prose/src/toolkit/position/index.ts
  packages/prose/src/toolkit/prose/helper.ts
  packages/prose/src/toolkit/prose/node.ts
  packages/prose/src/toolkit/prose/schema.ts
  packages/prose/src/toolkit/prose/selection.ts
  packages/prose/src/toolkit/prose/types.ts
  packages/prose/src/toolkit/type-utility.ts
  packages/utils/src/index.ts
  packages/utils/src/input-rules/index.ts
  packages/utils/src/input-rules/mark-rule.ts
  packages/utils/src/position/index.ts
  packages/utils/src/prose/helper.ts
  packages/utils/src/prose/index.ts
  packages/utils/src/prose/node.ts
  packages/utils/src/prose/schema.ts
  packages/utils/src/prose/selection.ts
  packages/utils/src/prose/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 adjust all packages
  packages/core/src/utility/prosemirror.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-prism/src/get-decorations.ts
  packages/plugin-prism/src/prism.ts
  packages/plugin-prism/src/utility.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-table/src/operator-plugin/calc-pos.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/input-manager/calc-input-pos.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/input.ts
  packages/plugin-tooltip/src/utility/prosemirror.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/strike-through.ts
Due: eslint --fix

feat: 🎸 add transformation into prose package
  package.json
  packages/prose/package.json
  packages/prose/src/prosemirror.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 adjust project ref
  package.json
  packages/core/tsconfig.json
  packages/prose/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 transform import
  packages/plugin-diagram/src/inner-editor.ts
  packages/plugin-math/src/math-block/inner-editor.ts
Due: eslint --fix

fix: 🐛 eslint issues
  packages/plugin-slash/src/item.ts
  packages/plugin-table/src/command.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

refactor: 💡 remove unneed type
  packages/core/src/utility/prosemirror.ts
Due: eslint --fix

refactor: 💡 remove internal methods of prosemirror model
  packages/core/src/fix.d.ts
  packages/core/src/parser/index.ts
  packages/core/src/parser/stack.spec.ts
  packages/core/src/parser/stack.ts
  packages/core/src/parser/state.spec.ts
  packages/core/src/parser/state.ts
  packages/core/src/utility/prosemirror.ts
Due: eslint --fix

feat: 🎸 remove editor and nodetype from nodeview
  packages/core/src/internal-plugin/node-view.ts
  packages/core/src/utility/prosemirror.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
Due: eslint --fix

feat: 🎸 remove editor from view factory
  packages/core/src/internal-plugin/mark-factory.ts
  packages/core/src/internal-plugin/node-factory.ts
  packages/core/src/internal-plugin/node-view.ts
  packages/core/src/utility/prosemirror.ts
  packages/prose/src/toolkit/index.ts
  packages/prose/src/toolkit/types/index.ts
  packages/react/src/Editor.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/vite.config.ts
  packages/utils/src/atom/types.ts
  packages/vue/src/Editor.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/utils.ts
  packages/vue/vite.config.ts
Due: eslint --fix

refactor: 💡 optimize type by remove any record
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/parser/index.ts
  packages/core/src/parser/stack.spec.ts
  packages/core/src/serializer/index.ts
  packages/core/src/serializer/stack-element.ts
  packages/core/src/serializer/stack.ts
  packages/core/src/utility/get-atom.ts
  packages/core/src/utility/index.ts
  packages/core/src/utility/types.ts
Due: eslint --fix

feat: 🎸 optimize utils package
  packages/utils/src/atom/atom-list.ts
  packages/utils/src/atom/index.ts
  packages/utils/src/factory/base-common.ts
  packages/utils/src/factory/base-mark.ts
  packages/utils/src/factory/base-node.ts
  packages/utils/src/factory/base-prose-plugin.ts
  packages/utils/src/factory/create-shortcut.ts
  packages/utils/src/factory/index.ts
  packages/utils/src/factory/keymap.ts
  packages/utils/src/index.ts
  packages/utils/src/type-utility.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: a way try to add fixed mode for plugin-tooltip
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

refactor: 💡 remove factory of utils
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-prose-plugin.ts
  packages/utils/src/factory/index.ts
Due: eslint --fix

feat: 🎸 optimize tooltip position calculate
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
Due: eslint --fix

chore: 🤖 upgrade playwright version
  integration-test/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 add shouldDisplay option for slash plugin
  packages/plugin-slash/README.md
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/props.ts
Due: eslint --fix, prettier --write

refactor: 💡 optimize atom define in utils
  packages/utils/src/atom/atom-list.ts
Due: eslint --fix

docs: ✏️ add docs of utils package
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

docs: ✏️ add doc for prose package
  gh-pages/pages/tools/prose/index.md
  gh-pages/pages/tools/prose/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

docs: ✏️ add doc about design system
  gh-pages/pages/tools/design-system/index.md
  gh-pages/pages/tools/design-system/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

fix: 🐛 link in doc
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
Due: prettier --write

fix: 🐛 inline math and image tooltip bug
  packages/plugin-tooltip/src/utility/input.ts
  packages/prose/src/toolkit/prose/helper.ts
Due: eslint --fix

feat: 🎸 add slug for header
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/heading.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ update readme of packages
  packages/design-system/README.md
  packages/prose/README.md
  packages/utils/README.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/neat-hotels-grab.md
Due: none

fix: 🐛 font family of code fence
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

feat: 🎸 remove slug of heading node
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/heading.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/ten-rockets-jog.md
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
