Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 🎸 add toggle for block menu
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

fix: 🐛 selection cache
  packages/plugin-block/src/block-service.ts
Due: eslint --fix

fix: 🐛 z index in style
  packages/plugin-block/src/block-menu-dom.ts
Due: eslint --fix

feat: 🎸 add config and list items
  packages/design-system/src/types.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/config.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/index.ts
  packages/theme-nord/src/icon.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

fix: 🐛 align behavior with tokyo theme
  packages/plugin-block/src/block-handle-dom.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/icon.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: 🎸 add active node in block action
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/config.ts
Due: eslint --fix

feat: 🎸 hide menu when keydown
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 add logic of hide
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/config.ts
Due: eslint --fix

test: 💍 fix e2e test
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/cypress/e2e/preset-commonmark/shortcut.cy.ts
  e2e/cypress/e2e/preset-commonmark/transform.cy.ts
Due: none

feat: 🎸 hide all menu if no active action
  packages/plugin-block/src/block-menu-dom.ts
Due: eslint --fix

feat: 🎸 optimize behavior for table
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/remove-possible-table.ts
  packages/preset-commonmark/src/node/list-item.ts
Due: eslint --fix

refactor: 💡 optimize code orgnization
  packages/plugin-block/src/block-handle-dom.ts
  packages/plugin-block/src/block-handle.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 add node selector
  packages/plugin-block/src/index.ts
Due: eslint --fix

feat: 🎸 remove padding
  packages/plugin-block/src/create-block-handle.ts
Due: eslint --fix

feat: 🎸 calculate block handle position
  packages/plugin-block/package.json
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/index.ts
  packages/plugin-block/src/select-node-by-dom.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize dnd behavior for table
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/get-dom-by-pos.ts
  packages/plugin-block/src/remove-possible-table.ts
  packages/prose/src/toolkit/prose/helper.ts
Due: eslint --fix

feat: 🎸 add package
  packages/plugin-block/README.md
  packages/plugin-block/package.json
  packages/plugin-block/src/index.ts
  packages/plugin-block/tsconfig.json
  packages/plugin-block/vite.config.ts
  packages/plugin-history/src/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 🐛 error of const
  packages/plugin-block/src/serialize-for-clipboard.ts
Due: eslint --fix

refactor: 💡 optimize block handle code
  packages/plugin-block/src/block-handle.ts
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 remove offset
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/select-node-by-dom.ts
Due: eslint --fix

feat: working on pos resolver
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 use new list item for bullet and ordered list
  packages/plugin-block/src/create-block-plugin.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/plugin/add-order-in-list.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/theme-nord/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize clipboard transfer data
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/index.ts
  packages/plugin-block/src/serialize-for-clipboard.ts
Due: eslint --fix

feat: 🎸 optimize style and make handle draggable
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

feat: 🎸 calc the menu position
  packages/plugin-block/src/block-handle-dom.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/select-node-by-dom.ts
Due: eslint --fix

feat: 🎸 add drag handle icon
  packages/design-system/src/types.ts
  packages/theme-nord/src/icon.ts
  packages/theme-tokyo/src/icon.ts
Due: eslint --fix

feat: 🎸 add new plugin to demo
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/package.json
  packages/plugin-block/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 deps
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 upgrade toolchain
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 missing node path
  vite.config.ts
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
