Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: move out sourcemap config
  packages/plugin-indent/vite.config.ts
  packages/plugin-math/vite.config.ts
  packages/plugin-table/vite.config.ts
  packages/plugin-upload/vite.config.ts
  packages/preset-gfm/vite.config.ts
  packages/react/vite.config.ts
Due: eslint --fix

chore: remove all pm packages
  packages/plugin-history/package.json
  packages/plugin-history/src/index.ts
  packages/plugin-menu/package.json
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/vite.config.ts
  packages/preset-gfm/package.json
  packages/preset-gfm/src/task-list-item.ts
  packages/prose/package.json
  packages/prose/src/prosemirror.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: try to unpack emotion
  packages/theme-nord/vite.config.ts
Due: eslint --fix

chore: 🤖 fix some deps
  packages/plugin-emoji/vite.config.ts
  packages/plugin-history/vite.config.ts
  packages/plugin-menu/vite.config.ts
  packages/plugin-slash/vite.config.ts
  packages/plugin-table/vite.config.ts
  packages/plugin-tooltip/vite.config.ts
  packages/preset-commonmark/vite.config.ts
  packages/preset-gfm/vite.config.ts
Due: eslint --fix

chore: fix all deps
  gh-pages/package.json
  package.json
  packages/plugin-menu/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-tooltip/src/utility/input.ts
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/vite.config.common.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: fix ci workflow
  .github/workflows/check.yml
  .github/workflows/ci.yml
  package.json
  tsconfig.json
Due: none

fix: 🐛 unit test
  jest.config.js
  packages/core/vite.config.ts
  packages/ctx/vite.config.ts
  packages/design-system/vite.config.ts
  packages/exception/vite.config.ts
  packages/plugin-clipboard/vite.config.ts
  packages/plugin-collaborative/vite.config.ts
  packages/plugin-cursor/vite.config.ts
  packages/plugin-diagram/vite.config.ts
  packages/plugin-emoji/vite.config.ts
  packages/plugin-history/vite.config.ts
  packages/plugin-indent/vite.config.ts
  packages/plugin-listener/vite.config.ts
  packages/plugin-math/vite.config.ts
  packages/plugin-menu/vite.config.ts
  packages/plugin-prism/vite.config.ts
  packages/plugin-slash/vite.config.ts
  packages/plugin-table/vite.config.ts
  packages/plugin-tooltip/vite.config.ts
  packages/plugin-upload/vite.config.ts
  packages/preset-commonmark/vite.config.ts
  packages/preset-gfm/vite.config.ts
  packages/prose/vite.config.ts
  packages/react/vite.config.ts
  packages/theme-nord/vite.config.ts
  packages/transformer/vite.config.ts
  packages/utils/vite.config.ts
  packages/vue/vite.config.ts
  vite.config.common.ts
Due: eslint --fix

chore: move sourcemap to right place
  packages/core/vite.config.ts
  packages/ctx/vite.config.ts
  packages/design-system/vite.config.ts
  packages/exception/vite.config.ts
  packages/plugin-clipboard/vite.config.ts
  packages/plugin-collaborative/vite.config.ts
  packages/plugin-cursor/vite.config.ts
  packages/plugin-diagram/vite.config.ts
  packages/plugin-emoji/vite.config.ts
  packages/plugin-history/vite.config.ts
  packages/plugin-listener/vite.config.ts
  packages/plugin-menu/vite.config.ts
  packages/plugin-prism/vite.config.ts
  packages/plugin-slash/vite.config.ts
  packages/plugin-tooltip/vite.config.ts
  packages/preset-commonmark/vite.config.ts
  packages/prose/vite.config.ts
  packages/react/vite.config.ts
  packages/theme-nord/vite.config.ts
  packages/transformer/vite.config.ts
  packages/utils/vite.config.ts
  packages/vue/vite.config.ts
Due: eslint --fix

fix: 🐛 code fence delete bug
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

chore: 🤖 fix example app of vue
  packages/vue/app/VueEditor.tsx
  packages/vue/app/tsconfig.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize code block input rules
  packages/core/src/internal-plugin/editor-state.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/prose/src/toolkit/input-rules/custom-input-rules.ts
  packages/prose/src/toolkit/input-rules/index.ts
Due: eslint --fix

fix: 🐛 unsupported language of prism cause error
  packages/plugin-prism/src/get-decorations.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/sixty-ducks-train.md
Due: none

feat: 🎸 optimize vue package to make it readable
  .eslintrc.js
  packages/vue/app/VueEditor.tsx
  packages/vue/package.json
  packages/vue/src/Editor.tsx
  packages/vue/src/Portals.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 use button elements within menu, w classes and labels
  packages/design-system/src/default-value.ts
  packages/design-system/src/types.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/select.ts
  packages/theme-nord/src/slots.ts
Due: eslint --fix

feat: 🎸 optimize vue renderer
  packages/core/src/editor/editor.ts
  packages/prose/src/toolkit/input-rules/custom-input-rules.ts
  packages/react/app/style.css
  packages/react/package.json
  packages/vue/app/VueEditor.tsx
  packages/vue/app/style.css
  packages/vue/src/Editor.tsx
  packages/vue/src/Portals.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: none

Update README.md
  README.md
Due: none

Update renovate.json
  renovate.json
Due: none

fix: 🐛 some style issue of menu bar
  .github/renovate.json
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/select.ts
  renovate.json
Due: eslint --fix

fix(deps): update all dependencies
  gh-pages/package.json
  package.json
  packages/plugin-emoji/package.json
  packages/plugin-math/package.json
  packages/plugin-prism/package.json
  packages/preset-commonmark/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 Upgrade dependencies
  gh-pages/component/Header/Buttons.tsx
  gh-pages/component/Route.tsx
  gh-pages/component/Sidebar/index.tsx
  packages/plugin-prism/src/get-decorations.ts
Due: eslint --fix

fix: 🐛 eslint version issue
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
