Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

feat: 🎸 add id of slash actions
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/item.ts
Due: eslint --fix

feat: 🎸 make tooltip configurable
  packages/plugin-slash/src/prose-plugin/status.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/input-manager/create-input.ts
  packages/plugin-tooltip/src/input-manager/filter-input.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

feat: 🎸 make image placeholder can be configured
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

docs: ✏️ update readme
  packages/plugin-slash/README.md
  packages/plugin-tooltip/README.md
  packages/preset-commonmark/README.md
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix, prettier --write

docs: ✏️ update plugin list to table
  gh-pages/pages/plugins/using-plugins/index.md
  gh-pages/pages/plugins/using-plugins/index.zh-hans.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/shiny-planets-buy.md
Due: none

docs: ✏️ update link of meo
  README.md
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
Due: prettier --write

chore: 🤖 update typescript version
  package.json
  pnpm-lock.yaml
Due: none

docs: ✏️ update sponsor, add Inkyu
  README.md
Due: none

feat: add diagram plugin scaffold
  gh-pages/component/Demo/content/index.md
  gh-pages/component/MilkdownEditor/editor.ts
  package.json
  packages/plugin-diagrams/package.json
  packages/plugin-diagrams/src/index.ts
  packages/plugin-diagrams/src/node.ts
  packages/plugin-diagrams/src/remark-mermaid.ts
  packages/plugin-diagrams/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 🎸 add update props of diagram node
  packages/plugin-diagrams/src/node.ts
Due: eslint --fix

chore: 🤖 rename diagrams to diagram
  gh-pages/component/MilkdownEditor/editor.ts
  package.json
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/index.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/remark-mermaid.ts
  packages/plugin-diagram/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 🎸 add style for diagram block
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

feat: working on the diagram selection
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

feat: 🎸 working on diagrams
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

feat: 🎸 working on diagram
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/node.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 little bug fix
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

chore: 🤖 bug fix
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

feat: 🎸 finish mermaid node
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

fix: 🐛 tooltip display
  packages/plugin-tooltip/src/utility/prosemirror.ts
Due: eslint --fix

feat: added backdrop-filter blur for codemirror gutters
  gh-pages/component/Demo/codemirror.css
Due: none

chore: 🤖 prepare to release
  .changeset/wicked-suits-scream.md
Due: none

fix: plugin-listener import example
  packages/plugin-listener/README.md
Due: prettier --write

docs: ✏️ update contributor
  README.md
Due: none

refactor: 💡 rename ctx to slice and add tsdoc for editor module
  .eslintrc.js
  .vscode/settings.json
  gh-pages/pages/plugins/writing-custom-plugins/index.md
  gh-pages/pages/plugins/writing-custom-plugins/index.zh-hans.md
  package.json
  packages/core/src/context/container.spec.ts
  packages/core/src/context/container.ts
  packages/core/src/context/index.ts
  packages/core/src/context/slice.spec.ts
  packages/core/src/context/slice.ts
  packages/core/src/editor/ctx.ts
  packages/core/src/editor/editor.ts
  packages/core/src/editor/index.ts
  packages/core/src/editor/pre.ts
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/input-rules.ts
  packages/core/src/internal-plugin/keymap.ts
  packages/core/src/internal-plugin/mark-factory.ts
  packages/core/src/internal-plugin/node-factory.ts
  packages/core/src/internal-plugin/node-view.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/prose-plugin-factory.ts
  packages/core/src/internal-plugin/remark-plugin-factory.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/core/src/internal-plugin/theme.ts
  packages/core/src/utility/types.ts
  packages/plugin-listener/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ optimize docs about diagram
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
Due: prettier --write

refactor: 💡 add tsdoc for editor module
  packages/core/src/editor/editor.ts
Due: eslint --fix

refactor: 💡 rename to slice
  packages/core/src/context/container.spec.ts
  packages/core/src/context/container.ts
  packages/core/src/context/slice.ts
  packages/core/src/editor/ctx.ts
  packages/core/src/editor/pre.ts
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/utility/index.ts
  packages/core/src/utility/shallow-clone.ts
Due: eslint --fix

feat: 🎸 add name for slice to improve error message
  gh-pages/component/MilkdownEditor/editor.ts
  packages/core/src/context/container.spec.ts
  packages/core/src/context/container.ts
  packages/core/src/context/slice.spec.ts
  packages/core/src/context/slice.ts
  packages/core/src/editor/ctx.ts
  packages/core/src/editor/editor.ts
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/input-rules.ts
  packages/core/src/internal-plugin/keymap.ts
  packages/core/src/internal-plugin/node-view.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/prose-plugin-factory.ts
  packages/core/src/internal-plugin/remark-plugin-factory.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/core/src/internal-plugin/theme.ts
  packages/exception/src/index.ts
  packages/plugin-listener/src/index.ts
Due: eslint --fix

feat: 🎸 improve error message serializer
  packages/core/src/context/container.ts
  packages/core/src/context/slice.ts
  packages/core/src/editor/pre.ts
  packages/exception/src/index.ts
Due: eslint --fix

docs: ✏️ add tsdoc for serializer
  packages/core/src/serializer/stack.ts
  packages/core/src/serializer/state.ts
  packages/core/src/utility/stack.ts
Due: eslint --fix

docs: ✏️ add doc for parser state
  packages/core/src/parser/state.ts
  packages/core/src/serializer/state.ts
Due: eslint --fix

feat: 🎸 add placeholder config and turninfo command for diagram
  packages/plugin-diagram/src/index.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-diagram/src/utility.ts
Due: eslint --fix

fix: diagram input issues
  packages/plugin-diagram/src/inner-editor.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-tooltip/src/index.ts
Due: eslint --fix

fix: 🐛 diagram cursor issue
  packages/plugin-diagram/src/inner-editor.ts
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

docs: ✏️ fix readme of gfm package
  packages/preset-gfm/README.md
Due: prettier --write

refactor: 💡 optimize code in inner editor of diagram plugin
  packages/plugin-diagram/src/inner-editor.ts
Due: eslint --fix

chore: 🤖 upgrade playwright
  integration-test/package.json
  pnpm-lock.yaml
Due: prettier --write
