Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

refactor: 💡 move custom renderer into design system as preset
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/design-system/src/renderer-preset/code-fence.ts
  packages/design-system/src/renderer-preset/image.ts
  packages/design-system/src/renderer-preset/index.ts
  packages/theme-nord/src/custom/index.ts
  packages/theme-nord/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add theme pack helper package
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/exception/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-nord/src/index.ts
  packages/theme-pack-helper/README.md
  packages/theme-pack-helper/package.json
  packages/theme-pack-helper/src/index.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/utils.ts
  packages/theme-pack-helper/tsconfig.json
  packages/theme-pack-helper/vite.config.ts
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 🐛 start script missing args
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

refactor: 💡 move the style of table into theme
  packages/preset-gfm/src/table/nodes/style.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.3.0
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  pnpm-lock.yaml
Due: none

refactor: reorg style of table plugin
  packages/design-system/src/utils.ts
  packages/preset-gfm/src/table/nodes/index.ts
  packages/preset-gfm/src/table/nodes/style.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-pack-helper/src/index.ts
  packages/theme-pack-helper/src/utils.ts
Due: eslint --fix

feat: make task list item can work without custom view
  packages/preset-gfm/src/strike-through.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/preset-gfm/src/table/operator-plugin/widget.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

refactor: 💡 move the renderer of task-list-item into theme
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-pack-helper/package.json
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize online demo style
  gh-pages/component/Demo/style.module.css
  gh-pages/style.css
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

feat: 🎸 add type for slice name
  packages/core/src/internal-plugin/commands.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/parser.ts
  packages/core/src/internal-plugin/schema.ts
  packages/core/src/internal-plugin/serializer.ts
  packages/core/src/internal-plugin/theme.ts
  packages/ctx/src/context/container.ts
  packages/ctx/src/context/slice.ts
  packages/ctx/src/plugin/ctx.ts
  packages/design-system/src/emotion.ts
  packages/design-system/src/manager.ts
Due: eslint --fix

feat: add inner editor renderer
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/keys.ts
  packages/design-system/src/manager.ts
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-math/package.json
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-block/inner-editor.ts
  packages/plugin-math/src/math-block/style.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/index.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize inner editor
  packages/plugin-diagram/src/inner-editor.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-diagram/src/utility.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
Due: eslint --fix

feat: 🎸 optimize the behavior of inner editor
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
Due: eslint --fix

feat: 🎸 make inner editor can be delete when empty
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
Due: eslint --fix

fix: doc site demo style issue
  gh-pages/style.css
Due: none

chore: make vite config can be merged
  vite.config.ts
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

refactor: gather remark call to transformer
  packages/core/package.json
  packages/core/src/internal-plugin/init.ts
  packages/transformer/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: use user modify to disable rich text button on mobile
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: 🎸 use em instead of rem
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: 🎸make tooltip position configurable
  packages/plugin-tooltip/README.md
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix, prettier --write

feat: 🎸 improve the tooltip and slash position calculation
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
Due: eslint --fix

feat: improve the styles
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-menu/src/select.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

fix: heading line height
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: improve styles
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

feat: improve styles
  packages/plugin-emoji/src/filter/style.ts
Due: eslint --fix

feat: improve styles
  packages/plugin-collaborative/src/injectStyle.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: improve styles
  packages/plugin-diagram/src/style.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
Due: eslint --fix

feat: improve styles
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

feat: improve styles
  packages/theme-nord/src/style.ts
Due: eslint --fix

feat: 🎸 optimize style
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-nord/src/style.ts
Due: eslint --fix

refactor: 💡 make the tooltip code more elegant
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
Due: eslint --fix

feat: 🎸make tooltip position configurable (#367)
  packages/plugin-tooltip/README.md
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix, prettier --write

feat: 🎸 add tokyo theme
  packages/theme-tokyo/README.md
  packages/theme-tokyo/package.json
  packages/theme-tokyo/src/font.ts
  packages/theme-tokyo/src/icon.ts
  packages/theme-tokyo/src/index.ts
  packages/theme-tokyo/src/style.ts
  packages/theme-tokyo/src/tokyo.ts
  packages/theme-tokyo/src/view.ts
  packages/theme-tokyo/tsconfig.json
  packages/theme-tokyo/vite.config.ts
Due: eslint --fix, prettier --write

chore(deps): update all dependencies to ^0.4.0
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 inner editor error in yjs plugin
  examples/collaboration/index.html
  examples/collaboration/main.ts
  examples/collaboration/package.json
  examples/vanilla/index.html
  examples/vanilla/main.ts
  examples/vanilla/package.json
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: 🐛 package name
  packages/theme-tokyo/vite.config.ts
Due: eslint --fix

feat: 🎸 add tokyo theme (#376)
  packages/theme-tokyo/README.md
  packages/theme-tokyo/package.json
  packages/theme-tokyo/src/font.ts
  packages/theme-tokyo/src/icon.ts
  packages/theme-tokyo/src/index.ts
  packages/theme-tokyo/src/style.ts
  packages/theme-tokyo/src/tokyo.ts
  packages/theme-tokyo/src/view.ts
  packages/theme-tokyo/tsconfig.json
  packages/theme-tokyo/vite.config.ts
Due: eslint --fix, prettier --write
