Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Inline sync plugin (#695)
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/cypress/e2e/preset-commonmark/shortcut.cy.ts
  e2e/cypress/e2e/preset-gfm/shortcut.cy.ts
  e2e/snapshots.js
  package.json
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/mark/em.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-sync.ts
  packages/preset-gfm/src/strike-through.ts
  packages/transformer/src/parser/index.ts
  packages/transformer/src/parser/state.ts
  packages/utils/src/index.ts
  tsconfig.base.json
Due: eslint --fix

chore: 🤖 remove auto link plugin
  packages/preset-gfm/src/auto-link.ts
  packages/preset-gfm/src/index.ts
Due: eslint --fix

fix: 🐛 sync issue for image and link
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

fix: 🐛 keep links
  packages/preset-commonmark/src/plugin/inline-sync.ts
Due: eslint --fix

fix: 🐛 handle edge case
  packages/preset-commonmark/src/plugin/inline-sync.ts
Due: eslint --fix

chore: 🤖 upgrade typescript
  examples/vue/package.json
  package.json
  packages/design-system/src/manager.ts
  packages/vue/package.json
  packages/vue/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 merge marks should search the child tree
  packages/transformer/src/serializer/stack.ts
Due: eslint --fix

feat: 🎸 make remark stringify can be configurable
  packages/core/package.json
  packages/core/src/internal-plugin/init.ts
  packages/transformer/package.json
  packages/transformer/src/index.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 🐛 inline code break other marks
  packages/preset-commonmark/src/mark/code-inline.ts
Due: eslint --fix

fix: 🐛 e2e
  e2e/snapshots.js
  packages/core/src/internal-plugin/init.ts
  packages/preset-commonmark/src/mark/code-inline.ts
Due: eslint --fix

fix: 🐛 order list index issue
  packages/preset-commonmark/src/node/list-item.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

fix: 🐛 codefence cover the coop cursor
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

fix: 🐛 not remove extra table when move table to first line
  packages/plugin-block/src/remove-possible-table.ts
Due: eslint --fix

feat: 🎸 make sync plugin can be configure
  packages/preset-commonmark/src/index.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-sync.ts
Due: eslint --fix

chore: 🤖 rename variable
  packages/preset-commonmark/src/plugin/inline-sync.ts
Due: eslint --fix

feat: 🎸 make inline sync plugin support global nodes
  packages/preset-commonmark/src/plugin/inline-sync.ts
  packages/preset-commonmark/src/plugin/inline-sync/config.ts
  packages/preset-commonmark/src/plugin/inline-sync/context.ts
  packages/preset-commonmark/src/plugin/inline-sync/index.ts
  packages/preset-commonmark/src/plugin/inline-sync/regexp.ts
  packages/preset-commonmark/src/plugin/inline-sync/replacer.ts
  packages/preset-commonmark/src/plugin/inline-sync/utils.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/funny-tables-jump.md
Due: none

chore: 🤖 upgrade package
  package.json
  pnpm-lock.yaml
Due: none

ci: 🎡 update ci
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  e2e/package.json
Due: none

ci: 🎡 fix cypress setup command
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

fix: 🐛 set refractor as a external dependency
  vite.config.ts
Due: none

fix: 🐛 multiple errors broken when using vue component renderer
  packages/vue/src/Editor.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

fix: 🐛 list borken on android
  packages/preset-commonmark/src/node/list-item.ts
  packages/prose/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: 💡 remove unnessesay eslint comment
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/modern-chairs-count.md
Due: none

test: 💍 fix e2e
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/snapshots.js
Due: none

docs: ✏️ update plugin list
  website/pages/plugins/using-plugins/index.md
Due: none

fix: 🐛 inline sync plugin debounce and disable at readonly
  packages/preset-commonmark/src/plugin/inline-sync/index.ts
Due: eslint --fix

docs: ✏️ add getMarkdown in marcro doc
  website/pages/guide/macros/index.md
Due: none

fix: 🐛 inline sync plugin debounce
  packages/preset-commonmark/src/plugin/inline-sync/index.ts
Due: eslint --fix

fix: 🐛 import error for plugin prism in svelte kit
  packages/plugin-prism/src/prism.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

fix: 🐛 inline sync plugin debounce and disable at readonly (#721)
  packages/preset-commonmark/src/plugin/inline-sync/index.ts
Due: eslint --fix

chore: 🤖 trigger releasing
  .changeset/bright-houses-relate.md
Due: none

ci(changeset): release milkdown (#723)
  .changeset/bright-houses-relate.md
  e2e/CHANGELOG.md
  e2e/package.json
  examples/collaboration/CHANGELOG.md
  examples/collaboration/package.json
  examples/react/CHANGELOG.md
  examples/react/package.json
  examples/vanilla/CHANGELOG.md
  examples/vanilla/package.json
  examples/vue/CHANGELOG.md
  examples/vue/package.json
  packages/plugin-prism/CHANGELOG.md
  packages/plugin-prism/package.json
  packages/preset-commonmark/CHANGELOG.md
  packages/preset-commonmark/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write

ci: 🎡 add firefox for e2e
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 use parallel e2e
  .github/workflows/ci-for-pr.yml
  e2e/cypress.config.ts
  e2e/package.json
  package.json
Due: none

chore: 🤖 add adgent
  .github/workflows/ci-for-pr.yml
Due: none

fix: 🐛 yaml errors
  .github/workflows/ci-for-pr.yml
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
