Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 package lock error
  packages/react/src/useGetEditor.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: 🐛 missing highlight for doc
  pnpm-lock.yaml
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/editor.ts
  website/package.json
Due: none

feat: 🎸 improve editor create and destroy
  packages/core/src/editor/editor.ts
Due: eslint --fix

docs: ✏️ update docs
  website/pages/official-plugins/plugin-block/index.md
  website/pages/official-plugins/plugin-clipboard/index.md
  website/pages/plugins/internal-plugins/index.md
  website/pages/plugins/internal-plugins/index.zh-hans.md
Due: none

docs: ✏️ update docs
  website/pages/plugins/internal-plugins/index.md
  website/pages/plugins/internal-plugins/index.zh-hans.md
Due: none

docs: ✏️ add doc for inline sync plugin
  website/pages/official-plugins/preset-commonmark/index.md
Due: none

chore: 🤖 depcrecate destroy macro
  packages/utils/src/macro/destroy.ts
Due: eslint --fix

docs: ✏️ update config
  website/pages/official-plugins/preset-commonmark/index.md
Due: none

refactor: 💡 optimize set status of editor
  packages/core/src/editor/editor.ts
Due: eslint --fix

refactor: 💡 optimize iframe plugin
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/OnlineEditor.tsx
  website/component/MilkdownEditor/docRendererFactory.ts
  website/component/MilkdownEditor/iframe/codeSandBox.ts
  website/component/MilkdownEditor/iframe/index.ts
  website/component/MilkdownEditor/iframe/remarkPlugin.ts
  website/component/MilkdownEditor/iframe/stackBlitz.ts
  website/component/MilkdownEditor/onlineEditorFactory.ts
  website/pages/official-plugins/plugin-menu/index.md
Due: none

fix: 🐛 url parse error for iframe
  website/component/MilkdownEditor/iframe/remarkPlugin.ts
Due: none

chore: 🤖 update carbon ads position
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/style.module.css
  website/index.html
  website/style.css
Due: none

chore: 🤖 optimize carbon style
  website/component/MilkdownEditor/style.module.css
  website/style.css
Due: none

chore: 🤖 optimize doc renderer
  website/component/MilkdownEditor/DocRenderer.tsx
  website/component/MilkdownEditor/docRendererFactory.ts
Due: none

feat: 🎸 move slice inject to part of factory
  packages/preset-commonmark/src/plugin/index.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/factory/pieces.ts
  packages/utils/src/types.ts
Due: eslint --fix

docs: ✏️ update carbon ads style
  website/style.css
Due: none

fix: 🐛 add relative position to milkdown-menu-wrapper
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

fix: 🐛 add relative position to milkdown-menu-wrapper (#745)
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

fix: 🐛 menu wrapper style can be undefined in headless mode
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

docs: ✏️ update core
  website/pages/core-modules/core/index.md
Due: none

docs: ✏️ update links in doc
  website/pages/core-modules/core/index.md
Due: none

docs: ✏️ update register to DOM doc for selector
  website/pages/guide/interacting-with-editor/index.md
Due: none

docs: ✏️ add explain for query selector
  website/pages/guide/interacting-with-editor/index.md
Due: none

docs: ✏️ upgrade doc for slash plugin
  website/pages/official-plugins/plugin-slash/index.md
Due: none

docs: ✏️ update slash doc
  website/pages/official-plugins/plugin-slash/index.md
Due: none

docs: ✏️ update doc for react
  website/pages/integrations/react/index.md
Due: none

test: 💍 optimize e2e test in ci
  .github/workflows/ci-for-pr.yml
  e2e/package.json
Due: none

ci: 🎡 fix port
  .github/workflows/ci.yml
Due: none

ci: 🎡 make port an env
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  e2e/cypress.config.ts
  e2e/package.json
  e2e/vite.config.ts
  pnpm-lock.yaml
Due: none

ci: 🎡 fix env
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix ci
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  e2e/cypress.config.ts
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/cypress/e2e/preset-commonmark/shortcut.cy.ts
  e2e/cypress/e2e/preset-commonmark/transform.cy.ts
  e2e/cypress/e2e/preset-gfm/input.cy.ts
  e2e/cypress/e2e/preset-gfm/shortcut.cy.ts
  e2e/package.json
Due: none

ci: 🎡 fix ci
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

chore: 🤖 upgrade cypress
  e2e/package.json
  pnpm-lock.yaml
Due: none

ci: 🎡 specify firefox version
  .github/workflows/ci-for-pr.yml
Due: none

chore: 🤖 upgrade yjs prosemirror
  packages/plugin-collaborative/package.json
  packages/plugin-collaborative/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

ci: 🎡 make test a reusable workflow
  .github/workflows/ci-for-pr.yml
  .github/workflows/test.yml
Due: none

fix: 🐛 report workflow in ci
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 optimize workflow
  .github/workflows/ci-for-pr.yml
  .github/workflows/start-nx-cloud.yml
  .github/workflows/stop-nx-cloud.yml
Due: none

ci: 🎡 add agent ci
  .github/workflows/ci-for-pr.yml
  .github/workflows/start-agents.yml
Due: none

chore: 🤖 fix typo
  .github/workflows/ci-for-pr.yml
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
