Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: ✏️ add zh doc for composable plugin
  gh-pages/pages/plugins/composable-plugins/index.zh-hans.md
Due: prettier --write

docs: ✏️ fix title
  gh-pages/pages/plugins/example-iframe-plugin/index.md
  gh-pages/pages/plugins/example-iframe-plugin/index.zh-hans.md
Due: prettier --write

docs: ✏️ add doc for using themes
  gh-pages/pages/theme/design-system/index.zh-hans.md
  gh-pages/pages/theme/using-themes/index.zh-hans.md
Due: prettier --write

docs: ✏️ add issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/other.md
Due: none

chore: 🤖 move others issue template into config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/other.md
Due: none

docs: ✏️ add pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: ✏️ improve 404 message
  gh-pages/component/MilkdownEditor/useLazy.ts
Due: eslint --fix

docs: ✏️ add doc for write theme
  gh-pages/pages/theme/theme-pack-helper/index.md
  gh-pages/pages/theme/writing-themes/index.zh-hans.md
Due: prettier --write

docs: ✏️ add html import hint for theme
  gh-pages/pages/theme/theme-nord/index.md
  gh-pages/pages/theme/theme-tokyo/index.md
Due: prettier --write

docs: ✏️ add a faq page
  gh-pages/pages/guide/faq/index.md
  gh-pages/pages/theme/theme-nord/index.md
  gh-pages/pages/theme/theme-tokyo/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

fix: 🐛 add a workaround for kleur and nuxt
  packages/transformer/src/index.ts
Due: eslint --fix

fix: 🐛 critical error of process
  packages/transformer/src/index.ts
Due: eslint --fix

chore: 🤖 upgrade prosemirror to latest
  packages/prose/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 type error
  packages/prose/src/toolkit/input-rules/custom-input-rules.ts
Due: eslint --fix

chore: 🤖 skip lib check for prosemirror-tables
  packages/prose/tsconfig.json
Due: prettier --write

chore: 🤖 adjust vite config
  vite.config.ts
Due: none

chore: 🤖 upgrade yjs version
  examples/collaboration/package.json
  packages/plugin-collaborative/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 rewrite schema of table
  packages/preset-gfm/src/table/nodes/schema.ts
  packages/preset-gfm/src/table/nodes/types.ts
Due: eslint --fix

feat: 🎸 remove dependent to pm-tables
  packages/preset-gfm/src/table/command.ts
  packages/preset-gfm/src/table/nodes/cell-selection.ts
  packages/preset-gfm/src/table/nodes/column-resizing.ts
  packages/preset-gfm/src/table/nodes/commands.ts
  packages/preset-gfm/src/table/nodes/copy-paste.ts
  packages/preset-gfm/src/table/nodes/fix-tables.ts
  packages/preset-gfm/src/table/nodes/index.ts
  packages/preset-gfm/src/table/nodes/table-editing.ts
  packages/preset-gfm/src/table/nodes/table-map.ts
  packages/preset-gfm/src/table/nodes/table-view.ts
  packages/preset-gfm/src/table/nodes/util.ts
  packages/preset-gfm/src/table/operator-plugin/actions.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/preset-gfm/src/table/operator-plugin/helper.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/preset-gfm/src/table/utils.ts
  packages/preset-gfm/tsconfig.json
  packages/prose/package.json
  packages/prose/src/tables.ts
  packages/prose/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(deps): update all dependencies
  gh-pages/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 upgrade codemirror
  gh-pages/component/Demo/CodeMirror.tsx
  gh-pages/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 unable to add links for images
  packages/design-system/src/keys/input-chip.ts
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

feat: 🎸 add support for react 18
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/Link.tsx
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  examples/react/package.json
  examples/react/vite.config.ts
  packages/react/package.json
  packages/react/src/Editor.tsx
  packages/react/src/EditorComponent.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/src/useEditor.ts
  packages/react/src/useGetEditor.ts
  packages/react/tsconfig.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 rebase changes
  packages/react/src/Editor.tsx
  packages/react/src/types.ts
Due: eslint --fix

chore: 🤖 try new api
  examples/react/component/milkdown/index.tsx
Due: none

refactor: 💡 use react-jsx
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/Image.tsx
  examples/react/component/milkdown/Paragraph.tsx
  examples/react/tsconfig.json
Due: none

feat: 🎸 add prism in sample
  examples/react/component/milkdown/index.tsx
  examples/react/index.html
  examples/react/package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 vue type error
  examples/react/component/milkdown/index.tsx
  examples/vue/CodeFence/CodeFence.ts
  examples/vue/Milkdown.vue
  packages/vue/src/Editor.tsx
Due: eslint --fix

feat: 🎸 optimize react renderer
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/CodeFence/codeFence.node.ts
  examples/react/component/milkdown/CodeFence/index.tsx
  examples/react/component/milkdown/Paragraph.tsx
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  examples/react/package.json
  examples/vue/CodeFence/CodeFence.vue
  packages/react/src/Editor.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/types.ts
  packages/react/src/useGetEditor.ts
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
