Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 error on menu plugin with commonmark preset
  packages/plugin-menu/src/default-config.ts
Due: eslint --fix

feat: 🎸 improve the scrollbar to make it mouse friendly
  packages/theme-nord/src/mixin.ts
Due: eslint --fix

chore: 🤖 remove unneed part in packagejson
  package.json
Due: none

test: 💍 add test for transform
  .eslintrc.js
  integration-test/package.json
  integration-test/playwright.config.ts
  integration-test/shim.d.ts
  integration-test/src/main.ts
  integration-test/tests/preset-commonmark.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: 💍 add e2e test for blockquote
  integration-test/playwright.config.ts
  integration-test/tests/preset-commonmark.spec.ts
Due: eslint --fix

test: 💍 remove the only in test
  integration-test/tests/preset-commonmark.spec.ts
Due: eslint --fix

test: 💍 add test for transform bullet list
  integration-test/playwright.config.ts
  integration-test/tests/preset-commonmark.spec.ts
Due: eslint --fix

fix: 🐛 loading bar in website
  gh-pages/component/MilkdownEditor/Loading.tsx
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: 💍 optimize commonmark e2e test
  gh-pages/index.html
  integration-test/tests/preset-commonmark.spec.ts
  integration-test/tests/preset-commonmark/input.spec.ts
  integration-test/tests/preset-commonmark/shortcut.spec.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

fix: 🐛 codemirror editor height
  gh-pages/component/Demo/style.module.css
Due: none

feat: 🎸 improve doc site codemirror editor
  gh-pages/component/Demo/CodeMirror.tsx
  gh-pages/component/Demo/Demo.tsx
  gh-pages/component/Demo/codemirror.css
  gh-pages/component/Demo/style.module.css
Due: eslint --fix

test: 💍 improve test speed
  gh-pages/component/Demo/codemirror.css
  gh-pages/postcss.config.js
  integration-test/tests/preset-commonmark/input.spec.ts
  integration-test/tests/preset-commonmark/shortcut.spec.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

chore: 🤖 remove cjs build for remark
  packages/core/package.json
  packages/core/vite.config.ts
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-table/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  vite.config.common.ts
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/spotty-ways-hear.md
Due: none

chore: 🤖 improve the config for vitest
  package.json
  packages/core/vite.config.ts
  packages/ctx/vite.config.ts
  packages/design-system/vite.config.ts
  packages/exception/vite.config.ts
  packages/plugin-clipboard/vite.config.ts
  packages/plugin-collaborative/vite.config.ts
  packages/plugin-cursor/vite.config.ts
  packages/plugin-diagram/vite.config.ts
  packages/plugin-emoji/vite.config.ts
  packages/plugin-history/vite.config.ts
  packages/plugin-indent/vite.config.ts
  packages/plugin-listener/vite.config.ts
  packages/plugin-math/vite.config.ts
  packages/plugin-menu/vite.config.ts
  packages/plugin-prism/vite.config.ts
  packages/plugin-slash/vite.config.ts
  packages/plugin-table/vite.config.ts
  packages/plugin-tooltip/vite.config.ts
  packages/plugin-upload/vite.config.ts
  packages/preset-commonmark/vite.config.ts
  packages/preset-gfm/vite.config.ts
  packages/prose/vite.config.ts
  packages/react/vite.config.ts
  packages/theme-nord/vite.config.ts
  packages/transformer/vite.config.ts
  packages/utils/vite.config.ts
  packages/vue/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.0.125
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update pnpm lock
  pnpm-lock.yaml
Due: none

test: 💍 add more test of transform
  integration-test/playwright.config.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

test: 💍 add transform test for marks
  integration-test/tests/preset-commonmark/input.spec.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

test: 💍 add test for mix mark
  integration-test/tests/preset-commonmark/input.spec.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

fix: 🐛 mix mark issue
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/transformer/src/serializer/stack.ts
  packages/transformer/src/serializer/state.ts
Due: eslint --fix

fix: 🐛 unit test
  packages/transformer/src/parser/stack.spec.ts
  packages/transformer/src/serializer/state.spec.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.0.126
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  pnpm-lock.yaml
Due: none

test: 💍 add shortcut test and transform test
  integration-test/tests/preset-commonmark/shortcut.spec.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
  packages/preset-commonmark/src/node/bullet-list.ts
  packages/preset-commonmark/src/node/ordered-list.ts
Due: eslint --fix

test: 💍 add test for gfm inputrules
  integration-test/package.json
  integration-test/src/main.ts
  integration-test/src/preset-gfm.ts
  integration-test/tests/preset-gfm/input.spec.ts
  packages/preset-gfm/src/auto-link.ts
  packages/preset-gfm/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize auto link url regex
  packages/preset-gfm/src/auto-link.ts
Due: eslint --fix

test: 💍 add test for commonmark mark shortcut
  integration-test/tests/preset-commonmark/shortcut.spec.ts
Due: eslint --fix

test: 💍 add test for shortcut of gfm
  integration-test/tests/preset-commonmark/shortcut.spec.ts
  integration-test/tests/preset-gfm/shortcut.spec.ts
Due: eslint --fix

test: 💍 add test for serializer
  integration-test/shim.d.ts
  integration-test/src/main.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
Due: eslint --fix

test: 💍 add test for snapshot
  integration-test/package.json
  integration-test/tests/preset-commonmark/transform.spec.ts
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/blockquote-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/bulletList-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/heading-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/orderedList-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/paragraph-linux.md
Due: eslint --fix, prettier --write

test: 💍 rename test snapshot file
  integration-test/tests/preset-commonmark/transform.spec.ts
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/blockquote-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/bulletList-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/bulletList-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/heading-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/orderedList-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/paragraph-linux.md
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/paragraph-md-linux.snapshot
Due: eslint --fix, prettier --write

chore: 🤖 migrate from playwright to cypress
  .eslintignore
  .github/workflows/check.yml
  integration-test/cypress.json
  integration-test/cypress/fixtures/blockquote.md
  integration-test/cypress/fixtures/cm-mark.md
  integration-test/cypress/fixtures/code-block.md
  integration-test/cypress/fixtures/heading.md
  integration-test/cypress/fixtures/hr.md
  integration-test/cypress/fixtures/image.md
  integration-test/cypress/fixtures/list.md
  integration-test/cypress/fixtures/milkdown-mini.png
  integration-test/cypress/fixtures/paragraph.md
  integration-test/cypress/integration/preset-commonmark/input.spec.ts
  integration-test/cypress/integration/preset-commonmark/shortcut.spec.ts
  integration-test/cypress/integration/preset-commonmark/transform.spec.ts
  integration-test/cypress/integration/preset-gfm/input.spec.ts
  integration-test/cypress/plugins/index.js
  integration-test/cypress/support/commands.js
  integration-test/cypress/support/index.js
  integration-test/package.json
  integration-test/shim.d.ts
  integration-test/snapshots.js
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/blockquote-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/bulletList-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/heading-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/orderedList-md-linux.snapshot
  integration-test/tests/preset-commonmark/transform.spec.ts-snapshots/paragraph-md-linux.snapshot
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: 🎡 update ci file
  .github/workflows/ci.yml
Due: none

ci: 🎡 set install as false for cypress action
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 add custom command for cypress
  .github/workflows/check.yml
Due: none

ci: 🎡 add command prefix
  .github/workflows/check.yml
Due: none

ci: 🎡 fix ci bug
  .github/workflows/check.yml
Due: none

ci: 🎡 fix ci cypress issue
  .github/workflows/ci.yml
Due: none
