Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 🎸 optimize vue renderer
  examples/vue/CodeFence/CodeFence.vue
  packages/vue/src/VueNode.tsx
  packages/vue/src/index.ts
Due: eslint --fix

chore: 🤖 update example
  examples/vue/CodeFence/CodeFence.vue
Due: none

chore: 🤖 rebase changes
  packages/react/src/Editor.tsx
  packages/react/src/types.ts
Due: eslint --fix

feat: 🎸 add prism in sample
  examples/react/component/milkdown/index.tsx
  examples/react/index.html
  examples/react/package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 optimize react renderer
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/CodeFence/codeFence.node.ts
  examples/react/component/milkdown/CodeFence/index.tsx
  examples/react/component/milkdown/Paragraph.tsx
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  examples/react/package.json
  examples/vue/CodeFence/CodeFence.vue
  packages/react/src/Editor.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/types.ts
  packages/react/src/useGetEditor.ts
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

feat: 🎸 add support for react 18
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/Link.tsx
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  examples/react/package.json
  examples/react/vite.config.ts
  packages/react/package.json
  packages/react/src/Editor.tsx
  packages/react/src/EditorComponent.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/src/useEditor.ts
  packages/react/src/useGetEditor.ts
  packages/react/tsconfig.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 try new api
  examples/react/component/milkdown/index.tsx
Due: none

fix: 🐛 vue type error
  examples/react/component/milkdown/index.tsx
  examples/vue/CodeFence/CodeFence.ts
  examples/vue/Milkdown.vue
  packages/vue/src/Editor.tsx
Due: eslint --fix

refactor: 💡 use react-jsx
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/Image.tsx
  examples/react/component/milkdown/Paragraph.tsx
  examples/react/tsconfig.json
Due: none

fix: 🐛 react usage issue in doc site
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
Due: eslint --fix

fix: 🐛 doc renderer
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
Due: eslint --fix

feat: 🎸 add depreacted warn for react
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
  packages/react/src/Editor.tsx
Due: eslint --fix

feat: 🎸 optimize warning info
  packages/react/src/Editor.tsx
Due: eslint --fix

feat: 🎸 align api for vue
  examples/vue/Milkdown.vue
  packages/react/src/types.ts
  packages/react/src/useEditor.ts
  packages/vue/src/Editor.tsx
  packages/vue/src/EditorComponent.tsx
  packages/vue/src/index.ts
  packages/vue/src/types.ts
  packages/vue/src/useEditor.ts
  packages/vue/src/useGetEditor.ts
Due: eslint --fix

fix: 🐛 two hardbreak will cause document has splash
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/hr.ts
  packages/preset-commonmark/src/supported-keys.ts
Due: eslint --fix

fix: 🐛 last hardbreak cause slash character bug
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/preset-commonmark/src/supported-keys.ts
Due: eslint --fix

feat: 🎸 make id created in heading can be configured
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

fix: 🐛 hardbreak bug in heading node
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

feat: 🎸 add id in outline
  gh-pages/component/MilkdownEditor/Outline.tsx
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/index.ts
  packages/utils/src/macro/outline.ts
Due: eslint --fix

feat: 🎸 add get markdown macro
  packages/utils/src/macro/get-markdown.ts
  packages/utils/src/macro/index.ts
Due: eslint --fix

feat: 🎸 add promise support for composable
  packages/utils/package.json
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/utils.ts
  packages/utils/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: conside trailing to an option of paragragh
  gh-pages/pages/official-plugins/preset-commonmark/index.md
  packages/plugin-trailing/README.md
  packages/plugin-trailing/package.json
  packages/plugin-trailing/src/index.ts
  packages/plugin-trailing/tsconfig.json
  packages/plugin-trailing/vite.config.ts
  packages/preset-commonmark/src/node/paragraph.ts
  packages/preset-commonmark/src/plugin/trailing.ts
Due: eslint --fix, prettier --write

feat: 🎸 add promise support for all composable plugins
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/$view.ts
Due: eslint --fix

fix: 🐛 remove unused code
  packages/utils/src/composable/utils.ts
Due: eslint --fix

docs: ✏️ add doc for async composable
  gh-pages/pages/plugins/composable-plugins/index.md
Due: prettier --write

Promise composable (#571)
  gh-pages/pages/plugins/composable-plugins/index.md
  packages/utils/package.json
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/$view.ts
  packages/utils/src/composable/utils.ts
  packages/utils/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add trailing plugin
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/package.json
  packages/plugin-trailing/README.md
  packages/plugin-trailing/package.json
  packages/plugin-trailing/src/index.ts
  packages/plugin-trailing/tsconfig.json
  packages/plugin-trailing/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 adjust the api and update doc
  gh-pages/pages/official-plugins/plugin-trailing/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-trailing/README.md
  packages/plugin-trailing/src/index.ts
Due: eslint --fix, prettier --write

feat: 🎸 add trailing plugin (#573)
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/package.json
  gh-pages/pages/official-plugins/plugin-trailing/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-trailing/README.md
  packages/plugin-trailing/package.json
  packages/plugin-trailing/src/index.ts
  packages/plugin-trailing/tsconfig.json
  packages/plugin-trailing/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

fix: 🐛 paste bug for inline contents in link
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

fix: 🐛 remove unneed check for keyboard event in tooltip plugin
  packages/plugin-tooltip/src/index.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/rare-parrots-taste.md
Due: none

chore: 🤖 remove the unneed kleur hack
  packages/transformer/src/index.ts
Due: eslint --fix

fix: 🐛 docsite loading style
  gh-pages/component/MilkdownEditor/Loading.tsx
  gh-pages/style.css
Due: eslint --fix

test: 💍 optimize test for ctx package
  packages/ctx/src/context/shallow-clone.spec.ts
  packages/ctx/src/context/slice.spec.ts
  packages/ctx/src/timing/timing.spec.ts
Due: eslint --fix

fix: 🐛 typo in readme
  packages/plugin-indent/README.md
  packages/plugin-prism/README.md
Due: prettier --write

feat: make a plugin to render all directive as text to avoid parse error when use remark-directive
  gh-pages/pages/official-plugins/plugin-directive-fallback/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-directive-fallback/CHANGELOG.md
  packages/plugin-directive-fallback/README.md
  packages/plugin-directive-fallback/package.json
  packages/plugin-directive-fallback/src/containerDirective.ts
  packages/plugin-directive-fallback/src/directive.ts
  packages/plugin-directive-fallback/src/index.ts
  packages/plugin-directive-fallback/src/leafDirective.ts
  packages/plugin-directive-fallback/src/textDirective.ts
  packages/plugin-directive-fallback/src/utils.ts
  packages/plugin-directive-fallback/tsconfig.json
  packages/plugin-directive-fallback/vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
