Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

ci: 🎡 export screenshot and video on fail
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 improve ci file
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

test: 💍 migrate all test from pw to cypress
  CONTRIBUTING.md
  integration-test/cypress/integration/preset-gfm/shortcut.spec.ts
  integration-test/package.json
  integration-test/playwright.config.ts
  integration-test/tests/preset-commonmark/input.spec.ts
  integration-test/tests/preset-commonmark/shortcut.spec.ts
  integration-test/tests/preset-commonmark/transform.fixtures.ts
  integration-test/tests/preset-commonmark/transform.spec.ts
  integration-test/tests/preset-gfm/input.spec.ts
  integration-test/tests/preset-gfm/shortcut.spec.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(deps): update all dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update package lock
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to ^0.0.131
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock files
  pnpm-lock.yaml
Due: none

test: 💍 make test work on macos
  .gitignore
  integration-test/cypress/integration/preset-commonmark/shortcut.spec.ts
  integration-test/cypress/integration/preset-gfm/shortcut.spec.ts
Due: eslint --fix

fix: 🐛 style issue for doc site
  gh-pages/component/Demo/codemirror.css
  gh-pages/style.css
Due: none

fix: 🐛 position issue for slash plugin
  packages/plugin-slash/src/prose-plugin/view.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.0.134
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to ^0.0.136
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 docsite editor width bug
  gh-pages/component/Demo/codemirror.css
  gh-pages/style.css
Due: none

chore(deps): update all dependencies to ^0.0.139
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 new listener plugin
  gh-pages/component/Demo/Demo.tsx
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-listener/src/index.ts
Due: eslint --fix

docs: ✏️ update docs about new listener plugin
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/interacting-with-editor/index.zh-hans.md
  packages/plugin-listener/README.md
  packages/plugin-listener/src/index.ts
Due: eslint --fix, prettier --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

fix: 🐛 highlight bug
  packages/plugin-prism/src/get-decorations.ts
Due: eslint --fix

chore: 🤖 remove unnessasary deps
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 rename integration-test to e2e
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .gitignore
  e2e/CHANGELOG.md
  e2e/cypress.json
  e2e/cypress/fixtures/blockquote.md
  e2e/cypress/fixtures/cm-mark.md
  e2e/cypress/fixtures/code-block.md
  e2e/cypress/fixtures/heading.md
  e2e/cypress/fixtures/hr.md
  e2e/cypress/fixtures/image.md
  e2e/cypress/fixtures/list.md
  e2e/cypress/fixtures/milkdown-mini.png
  e2e/cypress/fixtures/paragraph.md
  e2e/cypress/integration/preset-commonmark/input.spec.ts
  e2e/cypress/integration/preset-commonmark/shortcut.spec.ts
  e2e/cypress/integration/preset-commonmark/transform.spec.ts
  e2e/cypress/integration/preset-gfm/input.spec.ts
  e2e/cypress/integration/preset-gfm/shortcut.spec.ts
  e2e/cypress/plugins/index.js
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
  e2e/package.json
  e2e/shim.d.ts
  e2e/snapshots.js
  e2e/src/index.html
  e2e/src/main.ts
  e2e/src/preset-commonmark.ts
  e2e/src/preset-gfm.ts
  e2e/tsconfig.json
  e2e/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: 🐛 dom parser and serializer
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-gfm/src/task-list-item.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.0.140
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to ^0.0.141
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update lock file
  .pnpmfile.cjs
  package.json
  pnpm-lock.yaml
Due: none

refactor: 💡 move table plugin into gfm preset
  gh-pages/package.json
  packages/plugin-table/CHANGELOG.md
  packages/plugin-table/README.md
  packages/plugin-table/package.json
  packages/plugin-table/src/index.ts
  packages/plugin-table/tsconfig.json
  packages/plugin-table/vite.config.ts
  packages/preset-gfm/package.json
  packages/preset-gfm/src/index.ts
  packages/preset-gfm/src/table/command.ts
  packages/preset-gfm/src/table/index.ts
  packages/preset-gfm/src/table/nodes/index.ts
  packages/preset-gfm/src/table/nodes/schema.ts
  packages/preset-gfm/src/table/nodes/style.ts
  packages/preset-gfm/src/table/operator-plugin/actions.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/preset-gfm/src/table/operator-plugin/constant.ts
  packages/preset-gfm/src/table/operator-plugin/helper.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/preset-gfm/src/table/operator-plugin/widget.ts
  packages/preset-gfm/src/table/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 deps
  packages/preset-gfm/src/supported-keys.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.0.142
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to ^0.1.0
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 tooltip display error
  packages/plugin-tooltip/src/index.ts
Due: eslint --fix

chore: 🤖 update lock file
  .pnpmfile.cjs
  pnpm-lock.yaml
Due: none

chore: 🤖 trigger release
  .changeset/curvy-pens-sort.md
Due: none
