Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 🎸 style optimization
  packages/plugin-table/src/operator-plugin/calc-pos.ts
  packages/plugin-tooltip/src/input-manager/style.ts
Due: eslint --fix

fix: 🐛 diagram toDOM issue
  packages/plugin-diagram/src/node.ts
Due: eslint --fix

Fix spelling error
  gh-pages/pages/integrations/react/index.md
Due: prettier --write

docs: ✏️ add contributor in readme
  README.md
Due: none

feat: 🎸 add preview panel of math plugin
  packages/plugin-math/package.json
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-block/inner-editor.ts
  packages/plugin-math/src/math-block/style.ts
  packages/plugin-math/src/nodes.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize code to update inner editor by diff
  packages/plugin-diagram/src/inner-editor.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-block/inner-editor.ts
Due: eslint --fix

fix: 🐛 paste markdown issue
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

feat: 🎸 optimize the ux of link input
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
  packages/plugin-tooltip/src/utility/prosemirror.ts
Due: eslint --fix

feat: 🎸 optimize link input ux
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

fix: 🐛 typo
  gh-pages/component/Demo/content/index.md
Due: prettier --write

ci: 🎡 optimize eslint
  .eslintignore
  .vscode/settings.json
  gh-pages/postcss.config.js
  integration-test/playwright.config.ts
  integration-test/vite.config.ts
  package.json
  packages/core/jest.config.js
  packages/plugin-collaborative/vite.config.js
  packages/plugin-math/vite.config.js
  packages/plugin-prism/vite.config.js
  packages/plugin-slash/vite.config.js
  packages/plugin-table/vite.config.js
  packages/plugin-tooltip/vite.config.js
  packages/theme-nord/app/main.ts
  packages/vue/app/VueEditor.tsx
  packages/vue/app/main.tsx
Due: eslint --fix

feat: 🎸 make inline math modifiable in tooltip
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
  packages/plugin-math/src/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-math/src/nodes.ts
  packages/plugin-math/src/style.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/input.ts
Due: eslint --fix, prettier --write

feat: 🎸 add bindable tooltip
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/package.json
  packages/plugin-math/src/index.ts
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/input-manager/filter-input.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/input.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 deps in package.json
  packages/plugin-tooltip/package.json
Due: prettier --write

fix: regexp for image with title
  integration-test/tests/editor.spec.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

fix: 🐛 react node view issues
  packages/core/src/utility/prosemirror.ts
  packages/react/app/main.tsx
  packages/react/src/Editor.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
Due: eslint --fix

docs: ✏️ add contributor to readme
  README.md
Due: none

feat: 🎸 optimize node view in vue
  packages/vue/src/Editor.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

feat: add replace for atom list
  packages/plugin-tooltip/README.md
  packages/utils/src/atom/atom-list.ts
Due: eslint --fix, prettier --write

docs: ✏️ update readme of math plugin
  packages/plugin-math/README.md
Due: prettier --write

chore: 🤖 prepare to release
  .changeset/tiny-coats-relax.md
Due: none

fix: 🐛 add src to files to make sure sourcemap can find them
  gh-pages/package.json
  packages/core/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-table/package.json
  packages/plugin-tooltip/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

chore: 🤖 trigger release
  .changeset/cyan-readers-bake.md
Due: none

feat: 🎸 add max width of image
  packages/plugin-math/src/math-inline/index.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 add block config for image, use inline as default
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

docs: ✏️ update integrated frameworks
  gh-pages/pages/integrations/angular/index.md
  gh-pages/pages/integrations/angular/index.zh-hans.md
  gh-pages/pages/integrations/svelte/index.md
  gh-pages/pages/integrations/svelte/index.zh-hans.md
  gh-pages/pages/integrations/vue2/index.md
  gh-pages/pages/integrations/vue2/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

feat: 🎸 optimize image to use alt as title if not provided
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix, prettier --write

feat: 🎸 optimize z-index of tooltip
  packages/plugin-table/src/operator-plugin/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
Due: eslint --fix

fix: 🐛 image command bug
  packages/preset-commonmark/app/index.html
  packages/preset-commonmark/app/main.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/empty-dragons-help.md
Due: none

docs: ✏️ add architecture doc
  gh-pages/pages/internals/architecture/index.md
  gh-pages/pages/internals/architecture/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
Due: eslint --fix, prettier --write

refactor: 💡 extract filter html plugin
  packages/preset-commonmark/src/plugin/filter-html.ts
  packages/preset-commonmark/src/plugin/index.ts
Due: eslint --fix

feat: 🎸 add remove in atom list
  packages/utils/src/atom/atom-list.ts
Due: eslint --fix

feat: 🎸 add indent plugin to make tab key work
  gh-pages/component/MilkdownEditor/editor.ts
  package.json
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-collaborative/src/index.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-indent/README.md
  packages/plugin-indent/package.json
  packages/plugin-indent/src/index.ts
  packages/plugin-indent/tsconfig.json
  packages/plugin-slash/src/index.ts
  packages/plugin-table/src/operator-plugin/index.ts
  packages/plugin-tooltip/README.md
  packages/plugin-tooltip/src/index.ts
  packages/utils/src/atom/base-mark.ts
  packages/utils/src/atom/base-node.ts
  packages/utils/src/atom/base-prose-plugin.ts
  packages/utils/src/atom/index.ts
  packages/utils/src/atom/types.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

docs: ✏️ add graph about internal plugins
  gh-pages/pages/internals/architecture/index.md
  gh-pages/pages/internals/architecture/index.zh-hans.md
  packages/core/src/internal-plugin/input-rules.ts
Due: eslint --fix, prettier --write

feat: 🎸 upload plugin
  gh-pages/component/MilkdownEditor/editor.ts
  package.json
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-upload/README.md
  packages/plugin-upload/package.json
  packages/plugin-upload/src/index.ts
  packages/plugin-upload/src/upload.ts
  packages/plugin-upload/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 🎸 optimize upload plugin
  packages/plugin-upload/README.md
  packages/plugin-upload/src/default-uploader.ts
  packages/plugin-upload/src/index.ts
  packages/plugin-upload/src/upload.ts
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/cyan-rivers-rhyme.md
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
