Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update all dependencies
  .github/workflows/check.yml
  .github/workflows/ci.yml
  package.json
  packages/plugin-emoji/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 lock nx version
  packages/plugin-emoji/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 add nx cli
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 clear unused code
  packages/plugin-tooltip/README.md
  packages/plugin-tooltip/src/input-manager/calc-input-pos.ts
  packages/plugin-tooltip/src/input-manager/create-input.ts
  packages/plugin-tooltip/src/input-manager/filter-input.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix, prettier --write

chore: 🤖 remove unused code
  packages/plugin-tooltip/src/utility/index.ts
  packages/plugin-tooltip/src/utility/input.ts
Due: eslint --fix

feat: 🎸 make input and image input chip can be configured
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

refactor: 💡 optimize some code
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

chore: 🤖 optimize vscode dev task
  .vscode/tasks.json
  CONTRIBUTING.md
Due: none

feat: 🎸 use theme switcher instead of recreate editor instance
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

fix: 🐛 remove listener after timer finished
  packages/ctx/src/timing/timing.ts
Due: eslint --fix

fix: 🐛 remove nodes and listeners when destroy editor
  packages/design-system/src/keys/code-fence.ts
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-slash/src/prose-plugin/dropdown.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
Due: eslint --fix

fix: 🐛 emoji tooltip style disappear after theme flush
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

chore: 🤖 update recommend vscode extensions
  .vscode/extensions.json
Due: none

chore: 🤖 remove edge from launch options
  .vscode/launch.json
Due: none

fix: 🐛 image load status will affect history stack
  packages/design-system/src/keys/image.ts
  packages/plugin-menu/src/select.ts
  packages/preset-commonmark/src/node/image.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
Due: eslint --fix

docs: ✏️ update readme for commonmark module
  packages/preset-commonmark/README.md
Due: prettier --write

test: 💍 fix e2e test
  e2e/cypress/integration/preset-commonmark/input.spec.ts
  e2e/snapshots.js
Due: none

ci: 🎡 update cache action version
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

feat: 🎸 add render options for vue and react renderer
  examples/react/component/milkdown/Image.tsx
  examples/react/component/milkdown/index.tsx
  examples/vue/VueEditor.tsx
  packages/react/src/Editor.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Editor.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

chore: 🤖 trigger release for beta version
  .changeset/friendly-actors-speak.md
  .changeset/pre.json
Due: none

chore: 🤖 release next version
  .changeset/poor-horses-bathe.md
  .changeset/pre.json
Due: none

feat: 🎸 add some macros
  packages/utils/src/macro/index.ts
  packages/utils/src/macro/insert.ts
  packages/utils/src/macro/outline.ts
  packages/utils/src/macro/replace-all.ts
  packages/utils/src/macro/switch-theme.ts
Due: eslint --fix

chore: 🤖 optimize code
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  packages/core/src/internal-plugin/editor-view.ts
  packages/utils/src/index.ts
  packages/utils/src/macro/insert.ts
Due: eslint --fix

feat: 🎸 add some macros (#439)
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  packages/core/src/internal-plugin/editor-view.ts
  packages/utils/src/index.ts
  packages/utils/src/macro/index.ts
  packages/utils/src/macro/insert.ts
  packages/utils/src/macro/outline.ts
  packages/utils/src/macro/replace-all.ts
  packages/utils/src/macro/switch-theme.ts
Due: eslint --fix

feat: 🎸 add destroy macro
  packages/utils/src/macro/destroy.ts
  packages/utils/src/macro/index.ts
Due: eslint --fix

feat: 🎸 add className as an option to tooltip plugin
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

feat: 🎸 provide classname as option for slash plugin
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

feat: 🎸 add list size for emoji filter and remove emoji picker
  packages/plugin-emoji/package.json
  packages/plugin-emoji/src/constant.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-emoji/src/parse.ts
  packages/plugin-emoji/src/picker.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 adjust the api of emoji plugin
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-emoji/src/index.ts
  packages/plugin-emoji/src/node.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.8.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

ci: 🎡 remove lockfile maintain
  .github/renovate.json
Due: none

chore(deps): update all dependencies to v18
  gh-pages/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 upgrade react
  gh-pages/main.tsx
Due: eslint --fix

fix(docs): Fix semicolon syntax error
  gh-pages/pages/integrations/react/index.md
Due: prettier --write

fix(docs): Fix semicolon syntax error
  gh-pages/pages/integrations/react/index.zh-hans.md
Due: prettier --write

fix(deps): update dependency @types/katex to ^0.14.0
  packages/plugin-math/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: 🎡 run stop agents always
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

feat: 🎸 make editor state in ctx up to date
  packages/core/src/internal-plugin/editor-state.ts
  packages/plugin-emoji/src/node.ts
  packages/utils/src/macro/index.ts
  packages/utils/src/macro/set-attr.ts
Due: eslint --fix

feat: 🎸 add basic footnote support
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/index.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/footnote/utils.ts
  packages/preset-gfm/src/index.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
