Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 diagram paste issue
  packages/plugin-diagram/src/remark-mermaid.ts
Due: eslint --fix

feat: 🎸 support top level priority
  packages/core/src/internal-plugin/schema.ts
  packages/preset-gfm/src/task-list-item.ts
Due: eslint --fix

feat: 🎸 make emotion config work
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/package.json
  packages/design-system/src/index.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: 💡 rename to emotionConfigCtx
  packages/core/src/internal-plugin/theme.ts
Due: eslint --fix

fix: 🐛 docsite menubar style issue
  gh-pages/style.css
Due: none

chore: 🤖 use vite-plugin-dts to generate d.ts files
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

feat: 🎸 optimize react renderer behaviro for inline node
  examples/react/component/milkdown/Blockquote.tsx
  examples/react/component/milkdown/Image.tsx
  examples/react/component/milkdown/Link.tsx
  examples/react/component/milkdown/Paragraph.tsx
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  examples/react/package.json
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

feat: 🎸 heading nodes support h4-h6 style
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

feat: 🎸 optimize diagram style
  packages/plugin-diagram/src/style.ts
Due: eslint --fix

Fix some typos
  gh-pages/pages/guide/getting-started/index.md
Due: prettier --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

Fix some typos (#283)
  gh-pages/pages/guide/getting-started/index.md
Due: prettier --write

chore: 🤖 update lock file
  pnpm-lock.yaml
Due: none

chore: 🤖 use peerDependencyRules to ignore missing deps
  .pnpmfile.cjs
  package.json
Due: none

docs: ✏️ add contributor
  README.md
Due: none

fix: 🐛 diagram and math error when no text content
  packages/plugin-diagram/src/node.ts
  packages/plugin-math/src/math-block/index.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/lemon-llamas-shout.md
Due: none

feat: 🎸 add configuration of menubar DOM handler
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

feat: 🎸 add id for heading node
  gh-pages/404.html
  gh-pages/component/App.tsx
  gh-pages/component/Route.tsx
  gh-pages/vite.config.ts
  package.json
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/image.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: 🐛 image load status error
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

fix: 🐛 improve 404 based router
  gh-pages/index.html
Due: none

chore: 🤖 improve 404 based router
  gh-pages/404.html
Due: none

chore: 🤖 trigger release
  .changeset/silver-donkeys-beam.md
Due: none

feat: 🎸 optimize scrollbar style
  gh-pages/postcss.config.js
  packages/theme-nord/src/mixin.ts
Due: eslint --fix

fix: 🐛 watch command in package.json
  package.json
Due: none

fix: 🐛 emoji plugin filter position
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

fix: 🐛 slash plugin top level with other nodes issue
  packages/plugin-slash/src/prose-plugin/props.ts
Due: eslint --fix

fix: 🐛 math input rules mismatch
  packages/plugin-math/src/math-inline/index.ts
Due: eslint --fix

fix: 🐛 slash placeholder bug
  packages/plugin-slash/src/prose-plugin/props.ts
Due: eslint --fix

docs: ✏️ add new polar image
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
  gh-pages/public/polar.jpeg
Due: prettier --write

chore(deps): update all dependencies to ^0.2.0
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 flash theme tags on destroy editor
  packages/core/src/internal-plugin/theme.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/perfect-timers-try.md
Due: none

fix: 🐛 code block paste issue
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix
