Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: 🤖 update start script of prose package
  packages/prose/package.json
Due: prettier --write

chore: 🤖 fix build config
  vite.config.ts
Due: none

chore: 🤖 add vite config as dep
  nx.json
Due: none

docs: ✏️ add doc for prose
  gh-pages/pages/plugins/composable-plugins/index.md
  gh-pages/pages/reference-manual/milkdown_prose/index.md
  gh-pages/pages/tools/prose/index.zh-hans.md
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
  gh-pages/public/sitemap.xml
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

docs: ✏️ remove legacy docs
  gh-pages/pages/internals/architecture/index.md
  gh-pages/pages/internals/architecture/index.zh-hans.md
  gh-pages/pages/internals/node-and-mark/index.md
  gh-pages/pages/internals/node-and-mark/index.zh-hans.md
  gh-pages/pages/internals/parser/index.md
  gh-pages/pages/internals/parser/index.zh-hans.md
  gh-pages/pages/internals/serializer/index.md
  gh-pages/pages/internals/serializer/index.zh-hans.md
  gh-pages/pages/plugins/integrating-plugins/index.md
  gh-pages/pages/plugins/integrating-plugins/index.zh-hans.md
  gh-pages/pages/plugins/writing-custom-plugins/index.md
  gh-pages/pages/plugins/writing-custom-plugins/index.zh-hans.md
  gh-pages/pages/plugins/writing-theme-plugins/index.md
  gh-pages/pages/plugins/writing-theme-plugins/index.zh-hans.md
  gh-pages/pages/reference-manual/milkdown_ctx/index.md
  gh-pages/pages/reference-manual/milkdown_transformer/index.md
  gh-pages/public/sitemap.xml
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

docs: ✏️ add plugins and presets in reference manual
  gh-pages/pages/reference-manual/core/index.md
  gh-pages/pages/reference-manual/ctx/index.md
  gh-pages/pages/reference-manual/plugin-listener/index.md
  gh-pages/pages/reference-manual/plugin-math/index.md
  gh-pages/pages/reference-manual/plugin-menu/index.md
  gh-pages/pages/reference-manual/plugin-prism/index.md
  gh-pages/pages/reference-manual/plugin-slash/index.md
  gh-pages/pages/reference-manual/plugin-tooltip/index.md
  gh-pages/pages/reference-manual/preset-commonmark/index.md
  gh-pages/pages/reference-manual/preset-gfm/index.md
  gh-pages/pages/reference-manual/prose/index.md
  gh-pages/pages/reference-manual/transformer/index.md
  gh-pages/public/sitemap.xml
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

chore(deps): update all dependencies to ^0.11.0
  package.json
  pnpm-lock.yaml
Due: none

docs: ✏️ update readme of packages
  packages/core/README.md
  packages/ctx/README.md
  packages/plugin-listener/README.md
  packages/plugin-math/README.md
  packages/plugin-menu/README.md
  packages/plugin-prism/README.md
  packages/plugin-slash/README.md
  packages/plugin-tooltip/README.md
  packages/preset-commonmark/README.md
  packages/preset-gfm/README.md
  packages/prose/README.md
  packages/transformer/README.md
Due: prettier --write

chore: 🤖 fix build command
  package.json
Due: none

refactor: 💡 optimize view plugin
  examples/vanilla/main.ts
  packages/core/src/internal-plugin/editor-view.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.12.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update husky version
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 solve the nx cloud issue
  package.json
  vite.config.ts
Due: none

feat: 🎸 make factories can inject slices
  gh-pages/pages/plugins/plugin-factories/index.md
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/types.ts
Due: eslint --fix, prettier --write

feat: 🎸 add more options for collab plugin
  examples/collaboration/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-collaborative/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 fix typo
  packages/plugin-collaborative/src/index.ts
Due: eslint --fix

fix document error
  gh-pages/pages/theme/writing-themes/index.md
Due: prettier --write

feat: 🎸 improve the collab support
  .vscode/settings.json
  examples/collaboration/index.html
  examples/collaboration/main.ts
  packages/core/src/internal-plugin/editor-state.ts
  packages/plugin-collaborative/src/collab-service.ts
  packages/plugin-collaborative/src/index.ts
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

chore: 🤖 rename
  examples/collaboration/main.ts
  packages/plugin-collaborative/src/index.ts
Due: eslint --fix

docs: ✏️ add documentation for collab
  gh-pages/pages/guide/collaborative-editing/index.md
  gh-pages/public/sitemap.xml
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-collaborative/README.md
  packages/plugin-collaborative/src/collab-service.ts
Due: eslint --fix, prettier --write

fix: 🐛 link check input chip bug
  packages/preset-commonmark/src/mark/link.ts
Due: eslint --fix

docs: ✏️ optimize doc
  gh-pages/pages/guide/collaborative-editing/index.md
Due: prettier --write

docs: ✏️ update contribution guide
  CONTRIBUTING.md
  package.json
Due: none

fix: 🐛 can insert hr in table
  packages/preset-gfm/src/table/nodes/index.ts
Due: eslint --fix

fix: 🐛 cilpboard bugs
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/rich-hairs-argue.md
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
