Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

chore: 🤖 use pathe to replace path
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

chore: 🤖 fix error in action
  gh-pages/vite.config.ts
Due: eslint --fix

chore: 🤖 try to fix vite error
  gh-pages/vite.config.ts
Due: eslint --fix

ci: 🎡 use node 16 in ci
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

chore: 🤖 upgrade toolchain
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 missing node path
  vite.config.ts
Due: none

fix: 🐛 deps
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 make the hashtag display to true by default
  packages/preset-commonmark/src/node/heading.ts
  website/pages/official-plugins/preset-commonmark/index.md
Due: eslint --fix

docs: ✏️ add doc for block plugin
  packages/plugin-block/README.md
  website/pages/official-plugins/plugin-block/index.md
  website/route/page-config.ts
  website/route/page-dict.ts
Due: prettier --write

chore: 🤖 trigger release
  .changeset/young-crabs-drum.md
Due: none

chore: 🤖 organize import
  examples/react/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

chore: 🤖 upgrade package versions
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

chore: 🤖 upgrade tslib
  .vscode/launch.json
  e2e/package.json
  package.json
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-block/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-trailing/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-pack-helper/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

feat: 🎸 make menu can be configured by a callback function
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: 🎸 export default config builder
  packages/plugin-block/src/index.ts
Due: eslint --fix

fix: 🐛 remove unnessesary code
  packages/plugin-tooltip/src/item.ts
Due: eslint --fix

fix: 🐛 react content dom issue for mark
  examples/react/component/milkdown/index.tsx
  examples/react/main.tsx
  packages/react/src/ReactNodeView.tsx
Due: eslint --fix

fix: 🐛 table cursor height issue
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

refactor: 💡 use px to replace em
  packages/plugin-diagram/src/style.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/preset-gfm/src/table/operator-plugin/style.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

fix: 🐛 hardbreak should not appear in code block
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-gfm/src/index.ts
  packages/preset-gfm/src/table/nodes/index.ts
Due: eslint --fix

feat: 🎸 make it possible to add icon
  packages/design-system/src/types.ts
  packages/theme-nord/src/icon.ts
  packages/theme-tokyo/src/icon.ts
Due: eslint --fix

chore: 🤖 update vite
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 memory leak of timing listener
  packages/ctx/src/timing/timing.ts
Due: eslint --fix

feat: 🎸 add pwa for website
  pnpm-lock.yaml
  website/package.json
  website/vite.config.ts
Due: none

fix: 🐛 scroll view when update plugin
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

refactor: 💡 move error into exception package
  packages/exception/src/code.ts
  packages/exception/src/index.ts
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

fix: 🐛 use em to make emoji size right
  packages/plugin-emoji/src/node.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/tidy-news-live.md
Due: none

fix: 🐛 theme timer missing for refresh
  packages/core/src/internal-plugin/theme.ts
  packages/plugin-listener/src/index.ts
  pnpm-lock.yaml
  website/package.json
Due: eslint --fix

Fix plugin 101 typo
  website/pages/plugins/plugins-101/index.zh-hans.md
Due: none

Update index.md
  website/pages/plugins/plugins-101/index.md
Due: none
