Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: 🤖 fix typo
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 fix report
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 optimize workflow
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
Due: none

ci: 🎡 make test a reusable workflow (#757)
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
  .github/workflows/start-agents.yml
  .github/workflows/start-nx-cloud.yml
  .github/workflows/stop-nx-cloud.yml
  .github/workflows/test.yml
Due: none

ci: 🎡 fix steps
  .github/workflows/ci.yml
Due: none

ci: 🎡 align workflow name
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

docs: ✏️ update doc for vue and react API
  website/pages/integrations/nextjs/index.md
  website/pages/integrations/nuxtjs/index.md
  website/pages/integrations/vue/index.md
Due: none

fix: 🐛 Undo Redo broken with CapsLock
  packages/plugin-history/src/index.ts
Due: eslint --fix

feat: 🎸 add getSlice for themeManager
  packages/design-system/src/manager.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: 🎸 add inputrules for table with col and row
  packages/preset-gfm/src/table/nodes/index.ts
Due: eslint --fix

feat: 🎸 add onStatusChange for editor
  packages/core/src/editor/editor.ts
Due: eslint --fix

chore: 🤖 lock rollup version to v2
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 restore version
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 trigger release
  .changeset/lazy-games-do.md
Due: none

docs: syntax error in react intergrations
  website/pages/integrations/react/index.zh-hans.md
Due: none

docs: syntax error in react intergrations (#771)
  website/pages/integrations/react/index.zh-hans.md
Due: none

docs: ✏️ add destroy API in doc
  website/pages/guide/interacting-with-editor/index.md
Due: none

docs: ✏️ fix typo
  website/pages/guide/interacting-with-editor/index.md
Due: none

docs: ✏️ add editor status in doc
  website/pages/guide/interacting-with-editor/index.md
Due: none

fix: 🐛 link toggle bug
  packages/preset-commonmark/src/plugin/inline-sync/regexp.ts
Due: eslint --fix

docs: revise zh-docs
  website/pages/guide/faq/index.zh-hans.md
  website/pages/guide/getting-started/index.zh-hans.md
  website/pages/theme/theme-nord/index.zh-hans.md
  website/pages/theme/theme-tokyo/index.zh-hans.md
  website/route/page-dict.ts
Due: none

docs: revise zh-docs (#783)
  website/pages/guide/faq/index.zh-hans.md
  website/pages/guide/getting-started/index.zh-hans.md
  website/pages/theme/theme-nord/index.zh-hans.md
  website/pages/theme/theme-tokyo/index.zh-hans.md
  website/route/page-dict.ts
Due: none

fix: 🐛 reset emoji regex lastIndex
  packages/plugin-emoji/src/remark-twemoji.ts
Due: eslint --fix

feat: 🎸 add twemoji options to plugin-emoji
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-emoji/src/parse.ts
  packages/plugin-emoji/src/remark-twemoji.ts
Due: eslint --fix

fix: 🐛 reset emoji regex lastIndex (#785)
  packages/plugin-emoji/src/remark-twemoji.ts
Due: eslint --fix

feat: 🎸 add twemoji options to plugin-emoji (#786)
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-emoji/src/parse.ts
  packages/plugin-emoji/src/remark-twemoji.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/honest-pugs-leave.md
Due: none

ci(changeset): release milkdown (#787)
  .changeset/honest-pugs-leave.md
  e2e/CHANGELOG.md
  e2e/package.json
  examples/collaboration/CHANGELOG.md
  examples/collaboration/package.json
  examples/react/CHANGELOG.md
  examples/react/package.json
  examples/vanilla/CHANGELOG.md
  examples/vanilla/package.json
  examples/vue/CHANGELOG.md
  examples/vue/package.json
  packages/plugin-emoji/CHANGELOG.md
  packages/plugin-emoji/package.json
  packages/preset-commonmark/CHANGELOG.md
  packages/preset-commonmark/package.json
  website/CHANGELOG.md
  website/package.json
Due: prettier --write

chore: 🤖 upgrade vite
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

chore: 🤖 upgrade rollup to v3
  package.json
  packages/prose/rollup.config.js
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

fix: 🐛 tooltip display overflow
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

fix: 🐛 tooltip display overflow (#796)
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

test: 💍 upgrade cypress snapshot
  e2e/snapshots.js
Due: none

feat: 🎸 optimize slash dropdown height and position
  packages/plugin-slash/src/prose-plugin/dropdown.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/style.ts
Due: eslint --fix

feat: 🎸 optimize slash dropdown height and position (#800)
  packages/plugin-slash/src/prose-plugin/dropdown.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/style.ts
Due: eslint --fix

feat: 🎸 optimize emoji filter height and position
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/filter/style.ts
Due: eslint --fix

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: 🎸 optimize emoji filter height and position (#801)
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/filter/style.ts
Due: eslint --fix

fix: 🐛 emoji-filter-position
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
