Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx,json}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

refactor: 💡 prose plugin of slash
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/prose-plugin/status.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/slash-plugin.ts
Due: eslint --fix

chore: 🤖 update devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

refactor: 💡 optimize plugin slash
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/status.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

refactor: 💡 optimize code in slash plugin
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

refactor: 💡 refactor input manager of tooltip plugin
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-table/src/table-operator-plugin.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/input-manager.ts
  packages/plugin-tooltip/src/input-manager/calc-input-pos.ts
  packages/plugin-tooltip/src/input-manager/create-input.ts
  packages/plugin-tooltip/src/input-manager/filter-input.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

refactor: 💡 optimize button manager in tooltip plugin
  packages/plugin-tooltip/src/button-manager.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/filter-button.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/button-manager/no-active.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

refactor: 💡 simpily the type annotation in base-common
  packages/utils/src/atom/atom-list.ts
  packages/utils/src/atom/base-common.ts
  packages/utils/src/atom/base-mark.ts
  packages/utils/src/atom/base-node.ts
  packages/utils/src/atom/types.ts
Due: eslint --fix

feat: 🎸 add base prose plugin in util
  packages/utils/src/atom/base-prose-plugin.ts
  packages/utils/src/atom/types.ts
Due: eslint --fix

feat: 🎸 add headless mode for tooltip plugin
  packages/plugin-tooltip/package.json
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/input-manager/create-input.ts
  packages/plugin-tooltip/src/input-manager/index.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
  packages/utils/src/atom/atom-list.ts
  packages/utils/src/atom/base-common.ts
  packages/utils/src/atom/index.ts
  packages/utils/src/atom/types.ts
Due: eslint --fix

feat: 🎸 add headless support for slash plugin
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

chore: 🤖 update lock file
  pnpm-lock.yaml
Due: none

refactor: 💡 optimizze code of table node
  packages/plugin-table/src/nodes.ts
  packages/plugin-table/src/nodes/index.ts
  packages/plugin-table/src/nodes/schema.ts
  packages/plugin-table/src/nodes/style.ts
  packages/plugin-table/src/nodes/table-cell.ts
  packages/plugin-table/src/nodes/table-header.ts
  packages/plugin-table/src/nodes/table-row.ts
  packages/plugin-table/src/nodes/table.ts
Due: eslint --fix

feat: 🎸 add headless mode for table operator and math
  packages/plugin-emoji/src/index.ts
  packages/plugin-math/src/index.ts
  packages/plugin-table/src/index.ts
  packages/plugin-table/src/operator-plugin/actions.ts
  packages/plugin-table/src/operator-plugin/calc-pos.ts
  packages/plugin-table/src/operator-plugin/constant.ts
  packages/plugin-table/src/operator-plugin/helper.ts
  packages/plugin-table/src/operator-plugin/index.ts
  packages/plugin-table/src/operator-plugin/style.ts
  packages/plugin-table/src/operator-plugin/widget.ts
  packages/plugin-table/src/table-operator-plugin.ts
Due: eslint --fix

feat: 🎸 add headless mode for emoji plugin
  .vscode/settings.json
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-emoji/src/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-emoji/src/picker.ts
Due: eslint --fix

feat: 🎸 rename widget to mixin
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/index.ts
  packages/plugin-collaborative/src/index.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-slash/src/style.ts
  packages/plugin-table/src/nodes/style.ts
  packages/plugin-table/src/operator-plugin/style.ts
  packages/plugin-tooltip/src/button-manager/style.ts
  packages/plugin-tooltip/src/input-manager/style.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/mixin.ts
Due: eslint --fix

feat: 🎸 add slots in design system
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/default-value.ts
  packages/design-system/src/index.ts
  packages/design-system/src/types.ts
  packages/plugin-emoji/src/filter/style.ts
  packages/plugin-emoji/src/picker.ts
  packages/plugin-math/src/nodes.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/style.ts
  packages/preset-commonmark/src/mark/code-inline.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/theme-nord/src/font.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/override.ts
Due: eslint --fix

feat: 🎸 replace mixin icon with slot icon
  packages/design-system/src/default-value.ts
  packages/design-system/src/types.ts
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-table/src/nodes/style.ts
  packages/plugin-table/src/operator-plugin/actions.ts
  packages/plugin-table/src/operator-plugin/helper.ts
  packages/plugin-table/src/operator-plugin/index.ts
  packages/plugin-table/src/operator-plugin/widget.ts
  packages/plugin-tooltip/src/utility/element.ts
  packages/plugin-tooltip/src/utility/toggle.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/mixin.ts
Due: eslint --fix

refactor: 💡 typo
  packages/preset-commonmark/src/mark/strong.ts
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

feat: 🎸 add icon mapping
  packages/design-system/src/index.ts
  packages/design-system/src/types.ts
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-table/src/operator-plugin/actions.ts
  packages/plugin-table/src/operator-plugin/widget.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/toggle.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/slots.ts
Due: eslint --fix

feat: 🎸 optimize error message for theme
  packages/exception/src/index.ts
  packages/utils/src/atom/base-common.ts
Due: eslint --fix

docs: ✏️ rename docs in plugins
  gh-pages/pages/plugins/writing-custom-plugins/index.md
  gh-pages/pages/plugins/writing-custom-plugins/index.zh-hans.md
  gh-pages/pages/plugins/writing-syntax-plugins/index.md
  gh-pages/pages/plugins/writing-syntax-plugins/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

docs: ✏️ add doc for theme
  gh-pages/pages/guide/styling/index.md
  gh-pages/pages/guide/styling/index.zh-hans.md
  gh-pages/pages/plugins/writing-theme-plugins/index.md
  gh-pages/pages/plugins/writing-theme-plugins/index.zh-hans.md
Due: prettier --write

docs: ✏️ add doc for headless mode
  gh-pages/pages/guide/styling/index.md
  gh-pages/pages/guide/styling/index.zh-hans.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/spotty-spoons-move.md
Due: none

feat: 🎸 export modules from theme-nord to make it reusable
  packages/theme-nord/src/index.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/wise-fans-flash.md
Due: none

feat: 🎸 make clipboard smarter
  packages/plugin-clipboard/package.json
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-clipboard/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix

test: 💍 add test for delete
  .lintstagedrc.json
  gh-pages/vite.config.ts
  integration-test/tests/editor.spec.ts
Due: eslint --fix

test: 💍 add test for enter
  integration-test/tests/editor.spec.ts
Due: eslint --fix

test: 💍 add test for select all
  integration-test/tests/editor.spec.ts
Due: eslint --fix

test: 💍 add integration test for copy and paste
  integration-test/tests/editor.spec.ts
Due: eslint --fix

test: 💍 add test for heading shortcut
  integration-test/tests/editor.spec.ts
Due: eslint --fix

feat: 🎸 optimize collaborative plugin config
  package.json
  packages/design-system/README.md
  packages/plugin-clipboard/README.md
  packages/plugin-collaborative/README.md
  packages/plugin-collaborative/app/main.ts
  packages/plugin-collaborative/package.json
  packages/plugin-collaborative/src/index.ts
  packages/plugin-collaborative/src/injectStyle.ts
  packages/plugin-collaborative/tsconfig.json
  packages/utils/src/atom/base-prose-plugin.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ update readme
  gh-pages/pages/guide/commands/index.md
  gh-pages/pages/guide/commands/index.zh-hans.md
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/interacting-with-editor/index.zh-hans.md
  gh-pages/pages/guide/keyboard-shortcuts/index.md
  gh-pages/pages/guide/keyboard-shortcuts/index.zh-hans.md
  gh-pages/pages/guide/styling/index.zh-hans.md
  gh-pages/pages/integrations/react/index.md
  gh-pages/pages/integrations/react/index.zh-hans.md
  gh-pages/pages/integrations/vue/index.md
  gh-pages/pages/integrations/vue/index.zh-hans.md
  gh-pages/pages/plugins/writing-syntax-plugins/index.md
  gh-pages/pages/plugins/writing-syntax-plugins/index.zh-hans.md
  integration-test/src/preset-commonmark.ts
  packages/plugin-clipboard/README.md
  packages/plugin-collaborative/README.md
  packages/plugin-collaborative/app/main.ts
  packages/plugin-cursor/README.md
  packages/plugin-emoji/README.md
  packages/plugin-history/README.md
  packages/plugin-listener/README.md
  packages/plugin-math/README.md
  packages/plugin-math/app/main.ts
  packages/plugin-prism/README.md
  packages/plugin-prism/app/main.ts
  packages/plugin-slash/README.md
  packages/plugin-slash/app/main.ts
  packages/plugin-table/README.md
  packages/plugin-table/app/main.ts
  packages/plugin-tooltip/README.md
  packages/plugin-tooltip/app/main.ts
  packages/preset-commonmark/README.md
  packages/preset-commonmark/app/main.ts
  packages/preset-gfm/README.md
  packages/preset-gfm/app/main.ts
  packages/react/README.md
  packages/react/app/main.tsx
  packages/theme-nord/README.md
  packages/vue/README.md
  packages/vue/app/VueEditor.tsx
Due: eslint --fix, prettier --write

chore: 🤖 add debugger and task
  .vscode/launch.json
  .vscode/tasks.json
Due: none

chore: 🤖 update task
  .vscode/tasks.json
  tsconfig.base.json
Due: none

feat: 🎸 make slash plugin can be configured
  packages/plugin-slash/src/index.ts
Due: eslint --fix

chore: 🤖 add chrome launch option
  .vscode/launch.json
Due: none

feat: 🎸 make placeholder of slash plugin configurable
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/prose-plugin/dropdown.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/input.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/prose-plugin/view.ts
Due: eslint --fix
