Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 vanilla example
  examples/vanilla/main.ts
Due: none

chore: 🤖 trigger release
  .changeset/kind-ligers-care.md
  .changeset/pre.json
Due: none

chore(deps): roll back dependency @milkdown/exception to 6.0.0-next.1
  packages/ctx/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 make sitemap can be generated automatically
  gh-pages/package.json
  gh-pages/public/sitemap.xml
  gh-pages/vite-plugins/markdown-plugin.ts
  gh-pages/vite-plugins/sitemap-plugin.ts
  gh-pages/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ add prose as dep in integration
  gh-pages/pages/integrations/angular/index.md
  gh-pages/pages/integrations/react/index.md
  gh-pages/pages/integrations/svelte/index.md
  gh-pages/pages/integrations/vue/index.md
  gh-pages/pages/integrations/vue2/index.md
Due: prettier --write

fix: 🐛 sitemap hostname
  gh-pages/vite-plugins/sitemap-plugin.ts
Due: eslint --fix

chore: 🤖 rebuild project
  .vscode/launch.json
  gh-pages/public/sitemap.xml
Due: none

fix: 🐛 peer dependencies version error
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

chore: 🤖 trigger release
  .changeset/purple-days-turn.md
Due: none

chore(deps): roll back all dependencies to ^6.0.0
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

docs: ✏️ adding doc for core
  gh-pages/component/Header/Buttons.tsx
  gh-pages/pages/reference-manual/milkdown_core/index.md
  packages/core/src/internal-plugin/editor-state.ts
Due: eslint --fix, prettier --write

fix broken link
  README.md
Due: none

fix: 🐛 link error in collab mode
  packages/plugin-math/src/math-inline/index.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
Due: eslint --fix

fix: 🐛 style issue when call replace all
  examples/collaboration/main.ts
  examples/collaboration/package.json
  packages/design-system/src/manager.ts
  packages/plugin-collaborative/src/index.ts
  packages/utils/src/macro/replace-all.ts
  pnpm-lock.yaml
Due: eslint --fix

ci: 🎡 keep pnpm to v6 to avoid breaking change
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

chore: 🤖 trigger release
  .changeset/strange-dancers-shave.md
Due: none

chore(deps): roll back dependency @milkdown/exception to 6.0.1
  packages/ctx/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update the sponsors
  README.md
Due: none

chore: 🤖 update yjs version
  packages/plugin-collaborative/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 upgrade to support pnpm 7
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  package.json
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/remark-mermaid.ts
  packages/plugin-emoji/package.json
  packages/plugin-emoji/src/parse.ts
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/prose/rollup.config.js
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/transformer/package.json
  packages/transformer/src/parser/index.ts
  packages/transformer/src/parser/state.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: 🎡 fix pnpm lock file
  pnpm-lock.yaml
Due: none

ci: 🎡 fix missing dep
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix missing deps for nx cloud
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 setup pnpm
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

ci: 🎡 optimize ci
  .github/workflows/ci-for-pr.yml
Due: none

ci: 🎡 use newer pnpm command
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
  .husky/commit-msg
Due: none

ci: 🎡 use pnpm setup action
  .github/workflows/ci.yml
Due: none

fix: 🐛 workaround for pnpm 7 double dash
  packages/core/package.json
  packages/ctx/package.json
  packages/design-system/package.json
  packages/exception/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-collaborative/package.json
  packages/plugin-cursor/package.json
  packages/plugin-diagram/package.json
  packages/plugin-emoji/package.json
  packages/plugin-history/package.json
  packages/plugin-indent/package.json
  packages/plugin-listener/package.json
  packages/plugin-math/package.json
  packages/plugin-menu/package.json
  packages/plugin-prism/package.json
  packages/plugin-slash/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/preset-gfm/package.json
  packages/prose/package.json
  packages/react/package.json
  packages/theme-nord/package.json
  packages/theme-pack-helper/package.json
  packages/theme-tokyo/package.json
  packages/transformer/package.json
  packages/utils/package.json
  packages/vue/package.json
Due: prettier --write

fix: 🐛 pnpm command
  .github/workflows/ci-for-pr.yml
Due: none

chore(deps): update pnpm/action-setup action to v2.2.1
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

fix: 🐛 cypress ci commands
  .github/workflows/ci.yml
Due: none
