Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix typo
  packages/plugin-slash/README.md
Due: prettier --write

edit
  packages/plugin-slash/README.md
Due: prettier --write

fix readme
  packages/plugin-slash/README.md
Due: prettier --write

fix
  packages/plugin-slash/README.md
Due: prettier --write

chore: 🤖 remove unused type
  gh-pages/pages/tools/using-utils-package/index.md
  gh-pages/pages/tools/using-utils-package/index.zh-hans.md
  packages/core/src/utility/get-atom.ts
  packages/core/src/utility/index.ts
  packages/core/src/utility/types.ts
Due: eslint --fix, prettier --write

refactor: 💡 optimize code
  packages/core/src/internal-plugin/init.ts
  packages/core/src/internal-plugin/schema.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
Due: eslint --fix

docs: ✏️ update contributor
  README.md
Due: none

chore: 🤖 trigger release
  .changeset/curly-bats-turn.md
Due: none

fix: 🐛 pnpm workspace version transform
  packages/core/package.json
  packages/ctx/package.json
  packages/plugin-clipboard/package.json
  packages/plugin-emoji/package.json
  packages/plugin-indent/package.json
  packages/plugin-tooltip/package.json
  packages/plugin-upload/package.json
  packages/preset-commonmark/package.json
  packages/prose/package.json
  packages/utils/package.json
Due: prettier --write

chore: 🤖 fix dep tree
  pnpm-lock.yaml
Due: none

feat: 🎸 extendable factory
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 add extend for create mark
  packages/utils/src/factory/create-mark.ts
Due: eslint --fix

refactor: 💡 extract common types
  packages/utils/src/atom/atom-list.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
  packages/utils/src/types.ts
Due: eslint --fix

refactor: 💡 extract extend to common
  packages/utils/src/factory/common.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
Due: eslint --fix

refactor: 💡 use create node to create heading node
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

fix: 🐛 slash plugin cmd+enter
  packages/plugin-slash/src/prose-plugin/props.ts
Due: eslint --fix

fix: 🐛 slash plugin cmd+enter (#184)
  packages/plugin-slash/src/prose-plugin/props.ts
Due: eslint --fix

fix: 🐛 use enable to filter actions in slash plugin
  packages/plugin-slash/src/config.ts
Due: eslint --fix

fix: 🐛 slash plugin default actions
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/item.ts
Due: eslint --fix

fix: 🐛 slash plugin default actions (#186)
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/item.ts
Due: eslint --fix

fix: 🐛 clipboard broken
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-clipboard/src/index.ts
  packages/plugin-math/src/math-inline/index.ts
Due: eslint --fix

feat: 🎸 remove keyword in slash actions
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/item.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

feat: 🎸 make placeholder and actions nullable
  packages/plugin-slash/src/config.ts
Due: eslint --fix

feat: 🎸 remove keyword in slash actions (#187)
  packages/plugin-slash/src/config.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/item.ts
  packages/plugin-slash/src/utility.ts
Due: eslint --fix

docs: ✏️ update english writing syntax plugin doc for version 5
  gh-pages/pages/plugins/writing-syntax-plugins/index.md
Due: prettier --write

docs: ✏️ update english writing syntax plugin doc for version 5 (#188)
  gh-pages/pages/plugins/writing-syntax-plugins/index.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/wild-keys-serve.md
Due: none

docs: ✏️ update readme
  README.md
Due: none

feat: remove unused type
  packages/utils/src/types.ts
Due: eslint --fix

refactor: 💡 optimize some code
  packages/utils/src/factory/create-node.ts
  packages/utils/src/factory/create-plugin.ts
Due: eslint --fix

feat: 🎸 add composable plugins
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 export composable API
  packages/utils/src/composable/$command.ts
  packages/utils/src/composable/$inputRule.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$prose.ts
  packages/utils/src/composable/$remark.ts
  packages/utils/src/composable/$shortcut.ts
  packages/utils/src/composable/index.ts
  packages/utils/src/index.ts
Due: eslint --fix

feat: 🎸 make composable accept ctx
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/composable/$remark.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
