Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

chore: 🤖 remove incorrect changeset file
  .changeset/rich-hairs-argue.md
Due: none

chore: 🤖 update dependency version
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 dependency of ctx
  packages/ctx/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 trigger release
  .changeset/dirty-boats-repeat.md
Due: none

fix(deps): update dependency react-spinners to ^0.12.0
  gh-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: ✏️ improve readme
  README.md
Due: none

docs: ✏️ add doc for more plugins
  .gitignore
  gh-pages/component/Demo/content/index.md
  gh-pages/pages/reference-manual/plugin-collaborative/index.md
  gh-pages/pages/reference-manual/plugin-cursor/index.md
  gh-pages/pages/reference-manual/plugin-upload/index.md
  gh-pages/public/sitemap.xml
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-cursor/README.md
  packages/plugin-upload/README.md
Due: eslint --fix, prettier --write

chore(deps): update all dependencies to v17
  package.json
  pnpm-lock.yaml
Due: none

docs: ✏️ update readme
  README.md
Due: none

fix: 🐛 input chip disappeared in bind mode
  examples/collaboration/main.ts
  examples/collaboration/package.json
  packages/plugin-math/src/math-inline/index.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  pnpm-lock.yaml
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/tasty-masks-tickle.md
Due: none

ci: 🎡 add sponsor action
  .github/workflows/ci.yml
  README.md
Due: none

ci: 🎡 add sponsor workflow
  .github/workflows/ci.yml
  .github/workflows/sponsors.yml
Due: none

ci: 🎡 update sponsor action condition
  .github/workflows/sponsors.yml
Due: none

ci: 🎡 fix sponsor workflow
  .github/workflows/sponsors.yml
Due: none

ci: 🎡 use new PAT to generate sponsor
  .github/workflows/sponsors.yml
Due: none

ci: 🎡 remove sponsors action
  .github/workflows/sponsors.yml
  README.md
Due: none

docs: ✏️ update sponsors
  README.md
Due: none

docs: ✏️ update readme links
  README.md
  gh-pages/public/milkdown-rect.png
  gh-pages/public/milkdown-rect.svg
Due: none

docs: update readme logo
  README.md
Due: none

fix: 🐛 make themes can work without window
  packages/theme-nord/src/index.ts
  packages/theme-tokyo/src/index.ts
Due: eslint --fix

docs: update readme sponsor link
  README.md
Due: none

fix: 🐛 flush doc before apply template
  examples/collaboration/index.html
  examples/collaboration/main.ts
  examples/collaboration/style.css
  packages/plugin-collaborative/src/collab-service.ts
Due: eslint --fix

chore: 🤖 add room example for collab
  examples/collaboration/index.html
  examples/collaboration/main.ts
  examples/collaboration/style.css
  packages/plugin-collaborative/src/collab-service.ts
  packages/plugin-collaborative/src/index.ts
Due: eslint --fix

chore: 🤖 optimize flush logic
  examples/collaboration/main.ts
Due: none

chore(deps): update actions/upload-artifact action to v3.1.0
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

refactor: 💡 optimize export in core
  packages/core/src/index.ts
  packages/core/src/internal-plugin/theme.ts
Due: eslint --fix

docs: ✏️ reorg documents
  gh-pages/pages/core-modules/core/index.md
  gh-pages/pages/core-modules/ctx/index.md
  gh-pages/pages/core-modules/prose/index.md
  gh-pages/pages/core-modules/transformer/index.md
  gh-pages/pages/official-plugins/plugin-clipboard/index.md
  gh-pages/pages/official-plugins/plugin-collaborative/index.md
  gh-pages/pages/official-plugins/plugin-cursor/index.md
  gh-pages/pages/official-plugins/plugin-diagram/index.md
  gh-pages/pages/official-plugins/plugin-emoji/index.md
  gh-pages/pages/official-plugins/plugin-history/index.md
  gh-pages/pages/official-plugins/plugin-indent/index.md
  gh-pages/pages/official-plugins/plugin-listener/index.md
  gh-pages/pages/official-plugins/plugin-math/index.md
  gh-pages/pages/official-plugins/plugin-menu/index.md
  gh-pages/pages/official-plugins/plugin-prism/index.md
  gh-pages/pages/official-plugins/plugin-slash/index.md
  gh-pages/pages/official-plugins/plugin-tooltip/index.md
  gh-pages/pages/official-plugins/plugin-upload/index.md
  gh-pages/pages/official-plugins/preset-commonmark/index.md
  gh-pages/pages/official-plugins/preset-gfm/index.md
  gh-pages/pages/theme/theme-nord/index.md
  gh-pages/pages/theme/theme-pack-helper/index.md
  gh-pages/pages/theme/theme-tokyo/index.md
  gh-pages/pages/theme/using-themes/index.md
  gh-pages/pages/theme/writing-themes/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/react/README.md
  packages/theme-nord/README.md
  packages/theme-pack-helper/README.md
  packages/theme-tokyo/README.md
  packages/vue/README.md
Due: eslint --fix, prettier --write

docs: ✏️ add doc for solid js
  gh-pages/pages/integrations/solidjs/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/thick-windows-hear.md
Due: none

ci: 🎡 strict the branch name
  .github/workflows/ci-for-pr.yml
Due: none

fix: 🐛 theme cannot work in next and nuxt
  packages/theme-nord/src/index.ts
  packages/theme-tokyo/src/index.ts
Due: eslint --fix

fix: 🐛 emoji plugin cannot work in next or nuxt
  packages/plugin-emoji/src/filter/helper.ts
  packages/plugin-emoji/src/filter/index.ts
Due: eslint --fix

docs: ✏️ add zh-hans doc for solid js
  gh-pages/pages/integrations/solidjs/index.zh-hans.md
Due: prettier --write

fix: 🐛 paragraph only contains a hardbreak produce wrong md
  packages/preset-commonmark/src/node/paragraph.ts
Due: eslint --fix
