Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: optimize has mark in menu
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

feat: add select function for menu
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 optimize ui
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add default config
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add key command for button
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add select type menu item
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: rampup menu plugin
  package.json
  packages/plugin-menu/README.md
  packages/plugin-menu/app/index.html
  packages/plugin-menu/app/main.ts
  packages/plugin-menu/app/style.css
  packages/plugin-menu/package.json
  packages/plugin-menu/src/config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/item.ts
  packages/plugin-menu/src/prose-plugin/dropdown.ts
  packages/plugin-menu/src/prose-plugin/index.ts
  packages/plugin-menu/src/prose-plugin/input.ts
  packages/plugin-menu/src/prose-plugin/props.ts
  packages/plugin-menu/src/prose-plugin/status.ts
  packages/plugin-menu/src/prose-plugin/view.ts
  packages/plugin-menu/src/style.ts
  packages/plugin-menu/src/utility.ts
  packages/plugin-menu/tsconfig.json
  packages/plugin-menu/vite.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: optimize some code
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

feat: 🎸 add manager for menu
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

fix: add selected style for image
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

fix: 🐛 editor area issue
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-menu/src/index.ts
  packages/theme-nord/src/override.ts
Due: eslint --fix

chore: 🤖 clear exist code
  packages/plugin-menu/src/config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/item.ts
  packages/plugin-menu/src/prose-plugin/dropdown.ts
  packages/plugin-menu/src/prose-plugin/index.ts
  packages/plugin-menu/src/prose-plugin/input.ts
  packages/plugin-menu/src/prose-plugin/props.ts
  packages/plugin-menu/src/prose-plugin/status.ts
  packages/plugin-menu/src/prose-plugin/view.ts
  packages/plugin-menu/src/style.ts
  packages/plugin-menu/src/utility.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: 🐛 image selection error
  packages/plugin-menu/src/button.ts
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 optimize menubar ui
  packages/plugin-menu/src/index.ts
Due: eslint --fix

feat: add ui for icon button
  packages/plugin-menu/src/index.ts
Due: eslint --fix

fix: 🐛 empty text error
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

chore: 🤖 upgrade playwright version
  integration-test/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 ios highlight issue
  packages/plugin-prism/src/get-decorations.ts
Due: eslint --fix

fix: 🐛 code block regression issue
  packages/plugin-prism/src/get-decorations.ts
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

fix: 🐛 code block regression
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/style.css
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

fix: 🐛 code block enter key bug
  packages/preset-commonmark/src/node/code-fence.ts
  packages/prose/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ optimize two side editor height
  gh-pages/component/Demo/Demo.tsx
  gh-pages/component/Demo/style.module.css
  gh-pages/style.css
Due: eslint --fix

feat: 🎸 add undo and redo for menu bar
  packages/design-system/src/types.ts
  packages/plugin-history/src/index.ts
  packages/plugin-menu/package.json
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/tsconfig.json
  packages/theme-nord/src/slots.ts
Due: eslint --fix, prettier --write

feat: 🎸 make manubar scrollable
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

fix: 🐛 editor height
  gh-pages/style.css
Due: none

fix: 🐛 menu bar issue for ios
  packages/plugin-menu/src/default-config.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
Due: eslint --fix

chore: 🤖 optimize code mirror height
  gh-pages/component/Demo/style.module.css
  packages/plugin-menu/src/default-config.ts
Due: eslint --fix

chore: 🤖 optimize destroy logic
  packages/react/src/Editor.tsx
  packages/vue/src/Editor.tsx
Due: eslint --fix

chore: 🤖 optimize editor demo height in doc
  gh-pages/component/Demo/style.module.css
  gh-pages/style.css
Due: none

docs: ✏️ update readme for plugin menu
  packages/plugin-menu/README.md
Due: prettier --write

chore: 🤖 reload editor when switching mode
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
Due: eslint --fix

fix: 🐛 codeblock highlight disappear after drag and drop
  packages/plugin-prism/src/prism.ts
Due: eslint --fix

feat: 🎸 add sink and lift button for list item
  packages/design-system/src/types.ts
  packages/plugin-menu/package.json
  packages/plugin-menu/src/default-config.ts
  packages/theme-nord/src/slots.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/wet-peaches-lay.md
Due: none

fix: 🐛 loading page regression
  gh-pages/component/MilkdownEditor/Loading.tsx
  gh-pages/style.css
Due: eslint --fix

feat: 🎸 add class name for menu
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

chore: move sourcemap to right place
  packages/core/vite.config.ts
  packages/ctx/vite.config.ts
  packages/design-system/vite.config.ts
  packages/exception/vite.config.ts
  packages/plugin-clipboard/vite.config.ts
  packages/plugin-collaborative/vite.config.ts
  packages/plugin-cursor/vite.config.ts
  packages/plugin-diagram/vite.config.ts
  packages/plugin-emoji/vite.config.ts
  packages/plugin-history/vite.config.ts
  packages/plugin-listener/vite.config.ts
  packages/plugin-menu/vite.config.ts
  packages/plugin-prism/vite.config.ts
  packages/plugin-slash/vite.config.ts
  packages/plugin-tooltip/vite.config.ts
  packages/preset-commonmark/vite.config.ts
  packages/prose/vite.config.ts
  packages/react/vite.config.ts
  packages/theme-nord/vite.config.ts
  packages/transformer/vite.config.ts
  packages/utils/vite.config.ts
  packages/vue/vite.config.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
