Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(deps): update all dependencies
  gh-pages/package.json
  package.json
  packages/plugin-emoji/package.json
  packages/plugin-math/package.json
  packages/plugin-prism/package.json
  packages/preset-commonmark/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 eslint version issue
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

fix: 🐛 version upgrade issues
  package.json
  packages/plugin-collaborative/app/main.ts
  packages/plugin-collaborative/package.json
  packages/plugin-collaborative/src/index.ts
  packages/plugin-collaborative/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: ✏️ add tsdoc for ctx of editor
  packages/core/src/editor/editor.ts
Due: eslint --fix

chore: 🤖 rename cz to commit
  package.json
Due: none

feat: 🎸 add ctx for react and vue renderer
  packages/react/app/main.tsx
  packages/react/src/Editor.tsx
  packages/react/src/Portals.tsx
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/app/VueEditor.tsx
  packages/vue/src/Editor.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

docs: ✏️ update doc for react and vue renderer
  gh-pages/pages/integrations/react/index.md
  gh-pages/pages/integrations/react/index.zh-hans.md
  gh-pages/pages/integrations/vue/index.md
  gh-pages/pages/integrations/vue/index.zh-hans.md
Due: prettier --write

chore: 🤖 trigger release
  .changeset/nervous-parents-leave.md
  CONTRIBUTING.md
Due: none

ci: 🎡 optimize changesets action to v1
  .github/workflows/ci.yml
Due: none

feat: 🎸 hide code block dropdown list for readonly
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

feat: 🎸 copy paste to upload
  packages/plugin-upload/src/upload.ts
Due: eslint --fix

chore: 🤖 Add 'peerDependenciesMeta' to package.json
  packages/exception/package.json
Due: prettier --write

chore: 🤖 Add 'peerDependenciesMeta' to package.json (#242)
  packages/exception/package.json
Due: prettier --write

chore: fix eslint error
  packages/plugin-upload/src/upload.ts
Due: eslint --fix

feat: 🎸 copy paste to upload (#241)
  packages/plugin-upload/src/upload.ts
Due: eslint --fix

feat: 🎸 add options `enableHtmlImagesUploader`
  packages/plugin-upload/src/upload.ts
Due: eslint --fix

fix: 🐛 handle conflict between clipboard plugin and upload plug
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

fix: 🐛 heading paste from html will not parse
  gh-pages/component/MilkdownEditor/editor.ts
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

fix: 🐛 tooltip input selection error
  packages/plugin-menu/src/default-config.ts
  packages/plugin-tooltip/src/item.ts
  packages/transformer/src/parser/state.ts
Due: eslint --fix

fix: 🐛 add xmas effect for doc
  gh-pages/index.html
Due: none

fix: 🐛 image paste from html bug
  packages/preset-commonmark/src/node/image.ts
Due: eslint --fix

feat: 🎸 add options `enableHtmlImagesUploader` (#243)
  packages/plugin-upload/src/upload.ts
Due: eslint --fix

docs: ✏️ update readme
  README.md
  packages/plugin-upload/README.md
  packages/plugin-upload/src/upload.ts
Due: eslint --fix, prettier --write

chore: 🤖 improve website homepage
  gh-pages/component/Home/style.module.css
Due: none

fix: optimize tooltip position with menubar
  gh-pages/style.css
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

fix: 🐛 toolbar and input position
  gh-pages/style.css
  packages/plugin-table/src/operator-plugin/calc-pos.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/input-manager/calc-input-pos.ts
  packages/prose/src/toolkit/position/index.ts
  packages/theme-nord/src/override.ts
Due: eslint --fix

Optimize tooltip position (#250)
  gh-pages/style.css
  packages/plugin-menu/src/menubar.ts
  packages/plugin-table/src/operator-plugin/calc-pos.ts
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/plugin-tooltip/src/input-manager/calc-input-pos.ts
  packages/prose/src/toolkit/position/index.ts
  packages/theme-nord/src/override.ts
Due: eslint --fix

chore: 🤖 add pnpm hook to pin issue version
  .pnpmfile.cjs
  package.json
  packages/plugin-diagram/src/remark-mermaid.ts
  pnpm-lock.yaml
Due: eslint --fix

chore(deps): update all dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update package lock
  pnpm-lock.yaml
Due: none

ci: 🎡 remove tests in precommit since we have them on ci
  .husky/pre-commit
Due: none

chore: 🤖 improve doc page
  gh-pages/style.css
Due: none

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
