Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 code fence copy paste bug
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

fix: 🐛 darkmode toggle for docs
  gh-pages/component/MilkdownEditor/editor.ts
Due: eslint --fix

fix: 🐛 menubar toggle style
  gh-pages/component/Header/style.module.css
  gh-pages/component/Home/style.module.css
  gh-pages/component/style.module.css
Due: none

feat: 🎸 optimize footnote and add carbon
  .vscode/settings.json
  gh-pages/component/Home/index.tsx
  gh-pages/index.html
  gh-pages/style.css
  packages/design-system/src/keys/input-chip.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

feat: 🎸 improve carbon ads style
  gh-pages/component/Sidebar/index.tsx
  gh-pages/style.css
Due: eslint --fix

fix: 🐛 sidebar fold issue on mobile
  gh-pages/component/Header/style.module.css
  gh-pages/component/style.module.css
Due: none

fix: 🐛 anchor jump issue
  gh-pages/style.css
Due: none

feat: 🎸 optimize export for plugins
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-diagram/src/index.ts
  packages/plugin-emoji/src/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-slash/src/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/macro/get-html.ts
  packages/utils/src/macro/index.ts
  packages/utils/src/types.ts
Due: eslint --fix

feat: 🎸 split the doc renderer to improve the load time
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
  gh-pages/component/Route.tsx
  gh-pages/pages/guide/getting-started/index.md
  gh-pages/pages/guide/getting-started/index.zh-hans.md
  gh-pages/pages/internals/architecture/index.md
  gh-pages/pages/internals/architecture/index.zh-hans.md
Due: eslint --fix, prettier --write

fix: 🐛 loading status of doc
  gh-pages/component/MilkdownEditor/useLazy.ts
Due: eslint --fix

docs: ✏️ adjust doc site
  gh-pages/component/Sidebar/index.tsx
  gh-pages/component/Sidebar/style.module.css
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/styling/index.md
  gh-pages/pages/plugins/composable-plugins/index.md
  gh-pages/pages/plugins/example-iframe-plugin/index.md
  gh-pages/pages/plugins/example-iframe-plugin/index.zh-hans.md
  gh-pages/pages/plugins/plugins-101/index.md
  gh-pages/pages/plugins/plugins-factory/index.md
  gh-pages/pages/reference-manual/milkdown_core/index.md
  gh-pages/pages/reference-manual/milkdown_plugin-listener/index.md
  gh-pages/pages/theme/design-system/index.md
  gh-pages/pages/theme/design-system/index.zh-hans.md
  gh-pages/pages/theme/using-themes/index.md
  gh-pages/pages/theme/writing-themes/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

fix(deps): update all dependencies to ^0.20.0
  gh-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 add outline for docsite
  gh-pages/component/Header/style.module.css
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
  gh-pages/component/MilkdownEditor/style.module.css
  gh-pages/component/Sidebar/index.tsx
  gh-pages/component/hooks/useDisplaySidebar/index.ts
  gh-pages/pages/plugins/plugins-101/index.md
  gh-pages/pages/plugins/using-plugins/index.md
  gh-pages/pages/plugins/using-plugins/index.zh-hans.md
  gh-pages/route/page-config.ts
  gh-pages/style.css
Due: eslint --fix, prettier --write

refactor: 💡 extract outline component
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
  gh-pages/component/MilkdownEditor/Outline.tsx
Due: eslint --fix

docs: ✏️ add doc for plugin factories
  gh-pages/pages/plugins/plugin-factories/index.md
  gh-pages/pages/plugins/plugins-factory/index.md
  gh-pages/pages/plugins/using-plugins/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  gh-pages/style.css
  packages/plugin-collaborative/src/index.ts
  packages/plugin-cursor/src/index.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-indent/src/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/divider.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/utils/src/factory/common.ts
  packages/utils/src/types.ts
Due: eslint --fix, prettier --write

docs: ✏️ add composable plugin docs
  gh-pages/pages/plugins/composable-plugins/index.md
  gh-pages/pages/plugins/plugin-factories/index.md
Due: prettier --write

feat: 🎸 add override for theme
  gh-pages/pages/guide/keyboard-shortcuts/index.md
  gh-pages/pages/guide/styling/index.md
  gh-pages/pages/plugins/plugins-101/index.md
  gh-pages/pages/theme/design-system/index.md
  gh-pages/pages/theme/using-themes/index.md
  gh-pages/pages/theme/writing-themes/index.md
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/keys/global.ts
  packages/design-system/src/keys/index.ts
  packages/theme-nord/src/index.ts
  packages/theme-tokyo/src/index.ts
Due: eslint --fix, prettier --write

docs: ✏️ theme override
  gh-pages/pages/guide/styling/index.md
  gh-pages/pages/theme/using-themes/index.md
Due: prettier --write

docs: ✏️ writing themes
  gh-pages/pages/theme/writing-themes/index.md
  packages/design-system/src/manager.ts
  packages/plugin-menu/src/select.ts
  packages/theme-nord/src/index.ts
  packages/utils/src/composable/$command.ts
Due: eslint --fix, prettier --write

docs: ✏️ add doc for macros
  gh-pages/pages/guide/macros/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/utils/src/macro/call-command.ts
  packages/utils/src/macro/force-update.ts
  packages/utils/src/macro/get-html.ts
  packages/utils/src/macro/index.ts
  packages/utils/src/macro/outline.ts
  packages/utils/src/macro/switch-theme.ts
Due: eslint --fix, prettier --write

fix: 🐛 typo
  gh-pages/pages/guide/macros/index.md
Due: prettier --write

feat: 🎸 optimize state creation plugin
  packages/core/src/internal-plugin/editor-state.ts
Due: eslint --fix

docs: ✏️ optimize doc
  gh-pages/pages/plugins/internal-plugins/index.md
  gh-pages/pages/plugins/internal-plugins/index.zh-hans.md
  gh-pages/pages/reference-manual/milkdown_core/index.md
  gh-pages/pages/reference-manual/milkdown_plugin-listener/index.md
  gh-pages/pages/reference-manual/milkdown_transformer/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

feat: 🎸 use getClassName instead of set class name
  packages/plugin-slash/src/index.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
Due: eslint --fix

chore(deps): update all dependencies to ^0.10.0
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 outline position in doc site
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
Due: eslint --fix

feat: 🎸 optimize plugins to support state replacement
  gh-pages/component/hooks/useDarkMode.ts
  gh-pages/pages/guide/getting-started/index.md
  packages/core/src/internal-plugin/editor-view.ts
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/manager.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/theme-tokyo/src/index.ts
  packages/utils/src/macro/call-command.ts
  packages/utils/src/macro/replace-all.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {packages,gh-pages,integration-test}/**/*.{js,ts,tsx}
  prettier --write: (any of: {packages,gh-pages,integration-test}/**/*.json) or (any of: {packages,gh-pages,integration-test}/**/*.md)
