Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 menu selection pos should be calculated by root dom
  packages/plugin-menu/src/select.ts
Due: eslint --fix

fix: 🐛 emotion tag increase when switching pages
  gh-pages/component/MilkdownEditor/DocRenderer.tsx
Due: eslint --fix

feat: 🎸 make node and decorations up to date in react and vue
  examples/react/component/milkdown/CodeFence/index.tsx
  examples/react/main.tsx
  examples/vue/CodeFence/CodeFence.vue
  packages/react/src/Editor.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

feat: 🎸 make node and decorations up to date in react and vue (#589)
  examples/react/component/milkdown/CodeFence/index.tsx
  examples/react/main.tsx
  examples/vue/CodeFence/CodeFence.vue
  packages/react/src/Editor.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNode.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

fix: 🐛 react 17 crash issue
  examples/react17/component/milkdown/CodeFence/codeFence.node.ts
  examples/react17/component/milkdown/CodeFence/index.tsx
  examples/react17/component/milkdown/Image.tsx
  examples/react17/component/milkdown/index.tsx
  examples/react17/index.html
  examples/react17/main.tsx
  examples/react17/package.json
  examples/react17/style.css
  examples/react17/tsconfig.json
  examples/react17/vite.config.ts
  packages/react/src/ReactNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix

chore: 🤖 remove test project
  examples/react17/component/milkdown/CodeFence/codeFence.node.ts
  examples/react17/component/milkdown/CodeFence/index.tsx
  examples/react17/component/milkdown/Image.tsx
  examples/react17/component/milkdown/index.tsx
  examples/react17/index.html
  examples/react17/main.tsx
  examples/react17/package.json
  examples/react17/style.css
  examples/react17/tsconfig.json
  examples/react17/vite.config.ts
  pnpm-lock.yaml
Due: none

fix: 🐛 footnote paste dom structure error
  packages/preset-gfm/src/footnote/definition.ts
Due: eslint --fix

fix: 🐛 table IME issue in safari
  gh-pages/component/Demo/content/index.md
  gh-pages/component/MilkdownEditor/MilkdownEditor.tsx
  packages/preset-gfm/src/table/command.ts
  packages/preset-gfm/src/table/nodes/index.ts
  packages/preset-gfm/src/table/operator-plugin/actions.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/preset-gfm/src/table/operator-plugin/helper.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/preset-gfm/src/table/plugin/auto-insert-zero-space.ts
  packages/preset-gfm/src/table/plugin/cell-selection.ts
  packages/preset-gfm/src/table/plugin/column-resizing.ts
  packages/preset-gfm/src/table/plugin/commands.ts
  packages/preset-gfm/src/table/plugin/copy-paste.ts
  packages/preset-gfm/src/table/plugin/fix-tables.ts
  packages/preset-gfm/src/table/plugin/index.ts
  packages/preset-gfm/src/table/plugin/schema.ts
  packages/preset-gfm/src/table/plugin/table-editing.ts
  packages/preset-gfm/src/table/plugin/table-map.ts
  packages/preset-gfm/src/table/plugin/table-view.ts
  packages/preset-gfm/src/table/plugin/types.ts
  packages/preset-gfm/src/table/plugin/util.ts
  packages/preset-gfm/src/table/utils.ts
  packages/prose/src/toolkit/browser.ts
  packages/prose/src/toolkit/index.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix, prettier --write

fix: 🐛 satisfy eslint
  packages/prose/src/toolkit/browser.ts
Due: eslint --fix

chore: 🤖 recovery demo doc
  gh-pages/component/Demo/content/index.md
Due: prettier --write

refactor: 💡 gather renderer in design system
  packages/design-system/src/keys/index.ts
  packages/design-system/src/keys/renderer/code-fence.ts
  packages/design-system/src/keys/renderer/image.ts
  packages/design-system/src/keys/renderer/index.ts
  packages/design-system/src/keys/renderer/inner-editor.ts
  packages/design-system/src/keys/renderer/input-chip.ts
  packages/design-system/src/keys/renderer/task-list-item.ts
Due: eslint --fix

feat: 🎸 anchor for heading
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/supported-keys.ts
  packages/utils/src/factory/common.ts
Due: eslint --fix

test: 💍 fix e2e
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/cypress/e2e/preset-commonmark/shortcut.cy.ts
Due: none

chore: 🤖 update stale config
  .github/stale.yml
Due: none

refactor: 💡 gather exceptions
  packages/exception/src/code.ts
  packages/exception/src/error.ts
  packages/exception/src/index.ts
  packages/plugin-diagram/package.json
  packages/plugin-diagram/src/node.ts
  packages/plugin-emoji/package.json
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-emoji/src/node.ts
  packages/plugin-math/package.json
  packages/plugin-math/src/math-block/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/package.json
  packages/plugin-menu/src/manager.ts
  packages/plugin-menu/src/menubar.ts
  packages/plugin-slash/package.json
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/plugin-tooltip/package.json
  packages/plugin-tooltip/src/button-manager/calc-button-pos.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/code-fence.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-commonmark/src/node/ordered-list.ts
  packages/preset-gfm/package.json
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/table/operator-plugin/calc-pos.ts
  packages/preset-gfm/src/table/utils.ts
  packages/preset-gfm/src/task-list-item.ts
  packages/prose/src/toolkit/position/index.ts
  packages/theme-pack-helper/package.json
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 replace all errors with milkdown error
  packages/exception/src/code.ts
  packages/exception/src/error.ts
  packages/exception/src/index.ts
  packages/plugin-collaborative/package.json
  packages/plugin-collaborative/src/collab-service.ts
  packages/plugin-collaborative/src/index.ts
  packages/plugin-listener/src/index.ts
  packages/plugin-slash/src/utility.ts
  packages/plugin-upload/package.json
  packages/plugin-upload/src/default-uploader.ts
  packages/plugin-upload/src/upload.ts
  packages/utils/src/composable/$mark.ts
  packages/utils/src/composable/$node.ts
  packages/utils/src/factory/create-mark.ts
  packages/utils/src/factory/create-node.ts
  packages/vue/package.json
  packages/vue/src/useGetEditor.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 add timer name for timerNotFound
  packages/ctx/src/timing/clock.ts
Due: eslint --fix

feat: 🎸 make tooltip can be fully configured
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/filter-button.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/utility/index.ts
  packages/plugin-tooltip/src/utility/toggle.ts
Due: eslint --fix

refactor: 💡 remove unneeded code
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/filter-button.ts
  packages/plugin-tooltip/src/button-manager/index.ts
  packages/plugin-tooltip/src/button-manager/no-active.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
  packages/plugin-tooltip/src/selection-marks-tooltip.ts
Due: eslint --fix

fix: 🐛 hash can be displayed for readonly doc
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

feat: 🎸 add package
  packages/plugin-block/README.md
  packages/plugin-block/package.json
  packages/plugin-block/src/index.ts
  packages/plugin-block/tsconfig.json
  packages/plugin-block/vite.config.ts
  packages/plugin-history/src/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 add drag handle icon
  packages/design-system/src/types.ts
  packages/theme-nord/src/icon.ts
  packages/theme-tokyo/src/icon.ts
Due: eslint --fix

feat: 🎸 add new plugin to demo
  gh-pages/component/MilkdownEditor/editor.ts
  gh-pages/package.json
  packages/plugin-block/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add node selector
  packages/plugin-block/src/index.ts
Due: eslint --fix

feat: 🎸 calculate block handle position
  packages/plugin-block/package.json
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/index.ts
  packages/plugin-block/src/select-node-by-dom.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: working on pos resolver
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 remove offset
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/select-node-by-dom.ts
Due: eslint --fix

feat: 🎸 use new list item for bullet and ordered list
  packages/plugin-block/src/create-block-plugin.ts
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/list-item.ts
  packages/preset-commonmark/src/plugin/add-order-in-list.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/theme-nord/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize style and make handle draggable
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

feat: 🎸 optimize clipboard transfer data
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/index.ts
  packages/plugin-block/src/serialize-for-clipboard.ts
Due: eslint --fix

feat: 🎸 optimize behavior for table
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/remove-possible-table.ts
  packages/preset-commonmark/src/node/list-item.ts
Due: eslint --fix

feat: 🎸 remove padding
  packages/plugin-block/src/create-block-handle.ts
Due: eslint --fix

feat: 🎸 optimize dnd behavior for table
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
  packages/plugin-block/src/get-dom-by-pos.ts
  packages/plugin-block/src/remove-possible-table.ts
  packages/prose/src/toolkit/prose/helper.ts
Due: eslint --fix

refactor: 💡 optimize block handle code
  packages/plugin-block/src/block-handle.ts
  packages/plugin-block/src/create-block-handle.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

refactor: 💡 optimize code orgnization
  packages/plugin-block/src/block-handle-dom.ts
  packages/plugin-block/src/block-handle.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/create-block-plugin.ts
Due: eslint --fix

feat: 🎸 calc the menu position
  packages/plugin-block/src/block-handle-dom.ts
  packages/plugin-block/src/block-menu-dom.ts
  packages/plugin-block/src/block-service.ts
  packages/plugin-block/src/select-node-by-dom.ts
Due: eslint --fix

fix: 🐛 error of const
  packages/plugin-block/src/serialize-for-clipboard.ts
Due: eslint --fix
