Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: plugin-menu doc
  packages/plugin-menu/README.md
Due: prettier --write

fix: plugin-menu doc (#374)
  packages/plugin-menu/README.md
Due: prettier --write

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to ^0.5.0
  package.json
  pnpm-lock.yaml
Due: none

chore: add contributor
  README.md
Due: none

refactor: optimize theme pack
  examples/vanilla/main.ts
  examples/vanilla/package.json
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/keys.ts
  packages/design-system/src/types.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/index.ts
  packages/theme-tokyo/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix

refactor: optimize code in theme manager
  packages/design-system/src/manager.ts
Due: eslint --fix

fix: editable in readonly mode
  gh-pages/component/MilkdownEditor/editor.ts
  packages/prose/package.json
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 provide mermaid theme options for diagram
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/tsconfig.json
  packages/plugin-diagram/typings/mermaid/index.d.ts
  packages/plugin-diagram/typings/mermaid/mermaidAPI.d.ts
Due: eslint --fix, prettier --write

fix: editable in readonly mode
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: make code fence can work without renderer
  packages/preset-commonmark/src/node/code-fence.ts
Due: eslint --fix

docs: ✏️ improve docs
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
Due: prettier --write

docs: fix repo link in docs
  gh-pages/component/Demo/content/index.zh-hans.md
Due: prettier --write

fix: menubar width shaking
  packages/plugin-menu/src/menubar.ts
Due: eslint --fix

docs: upgrade readme to add ocavue as sponsor
  README.md
Due: none

feat: optimize scrollbar and theme manager tyle
  packages/design-system/src/keys.ts
  packages/design-system/src/manager.ts
  packages/plugin-menu/src/menubar.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-tokyo/src/index.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: added plain text option as default.
  packages/plugin-menu/README.md
Due: prettier --write

feat: 🎸 changed the way which configures mermaid
  packages/plugin-diagram/README.md
  packages/plugin-diagram/src/index.ts
Due: eslint --fix, prettier --write

feat: 🎸 provide mermaid theme options for diagram (#384)
  packages/plugin-diagram/README.md
  packages/plugin-diagram/src/index.ts
  packages/plugin-diagram/src/node.ts
  packages/plugin-diagram/tsconfig.json
  packages/plugin-diagram/typings/mermaid/index.d.ts
  packages/plugin-diagram/typings/mermaid/mermaidAPI.d.ts
  packages/plugin-menu/README.md
Due: eslint --fix, prettier --write

fix: 🐛 diagram is not loaded in doc.
  gh-pages/component/MilkdownEditor/editor.ts
Due: eslint --fix

fix: 🐛 diagram is not loaded in doc. (#391)
  gh-pages/component/MilkdownEditor/editor.ts
Due: eslint --fix

chore(deps): update actions/setup-node action to v3
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

fix: 🐛 task list can be edit in readonly mode
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

add meta tags for social networks
  gh-pages/index.html
Due: none

add meta tags for social networks (#397)
  gh-pages/index.html
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

chore: 🤖 update typescript version to 4.6
  .pnpmfile.cjs
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

feat: 🎸 add input chip
  packages/design-system/src/manager.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix

feat: 🎸 add events on input chip
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
Due: eslint --fix
