Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 doc syntax error
  gh-pages/pages/integrations/react/index.md
  gh-pages/pages/integrations/react/index.zh-hans.md
Due: prettier --write

docs: ✏️ remove emoji picker
  gh-pages/component/Demo/content/index.md
  gh-pages/component/Demo/content/index.zh-hans.md
Due: prettier --write

feat: 🎸 add anchor button for footnote def
  packages/plugin-indent/src/index.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/footnote/utils.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: 🎸 optimize footnote ref style
  packages/preset-gfm/src/footnote/reference.ts
Due: eslint --fix

feat: 🎸 optimize style of footnote
  packages/preset-gfm/src/footnote/definition.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: 🎸 optimize style of footnote
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
Due: eslint --fix

feat: 🎸 add ux for footnote
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
Due: eslint --fix

fix: 🐛 expired documents
  packages/plugin-menu/README.md
Due: prettier --write

chore(deps): update all dependencies to ^0.9.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies
  gh-pages/package.json
  packages/plugin-diagram/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add new property 'extra' to ThemeTool
  packages/design-system/src/index.ts
  packages/design-system/src/types.ts
Due: eslint --fix

refactor: 💡 combine callByName and call, getByName and get
  packages/core/src/internal-plugin/commands.ts
  packages/ctx/src/context/container.ts
  packages/ctx/src/plugin/ctx.ts
  packages/design-system/src/manager.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-slash/src/config.ts
  packages/plugin-tooltip/src/utility/toggle.ts
Due: eslint --fix

test: 💍 add unit test for slice name
  packages/ctx/src/context/container.spec.ts
  packages/ctx/src/context/slice.spec.ts
Due: eslint --fix

refactor: 💡 rename payload in theme manager
  packages/design-system/src/manager.ts
Due: eslint --fix

refactor: 💡 remove default value for theme slice key
  packages/design-system/src/manager.ts
Due: eslint --fix

refactor: 💡 combine set and setCustom in design-system
  packages/design-system/src/manager.ts
  packages/theme-pack-helper/src/renderer-preset/code-fence.ts
  packages/theme-pack-helper/src/renderer-preset/image.ts
  packages/theme-pack-helper/src/renderer-preset/inner-editor.ts
  packages/theme-pack-helper/src/renderer-preset/input-chip.ts
  packages/theme-pack-helper/src/renderer-preset/task-list-item.ts
Due: eslint --fix

chore: 🤖 upgrade nx version
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 upgrade react version
  packages/react/src/ReactNode.tsx
  packages/react/src/ReactNodeView.tsx
Due: eslint --fix

feat: customizable hover menu
  packages/plugin-tooltip/src/index.ts
  packages/plugin-tooltip/src/item.ts
Due: eslint --fix

chore: 🤖 sync with latest main code
  packages/plugin-tooltip/src/item.ts
Due: eslint --fix

feat: 🎸 optimize style of doc site
  gh-pages/component/Context.tsx
  gh-pages/component/Demo/Demo.tsx
  gh-pages/component/Demo/style.module.css
  gh-pages/component/Route.tsx
  gh-pages/component/style.module.css
  gh-pages/main.tsx
  gh-pages/package.json
  gh-pages/style.css
  gh-pages/tsconfig.json
  gh-pages/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 menubar height bug
  packages/plugin-menu/src/select.ts
Due: eslint --fix

fix: 🐛 slash plugin position error when editor size is small
  examples/react/package.json
  examples/vanilla/main.ts
  examples/vanilla/package.json
  gh-pages/style.css
  packages/plugin-slash/src/prose-plugin/view.ts
  packages/theme-nord/src/style.ts
  packages/theme-tokyo/src/style.ts
  pnpm-lock.yaml
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/gorgeous-walls-tan.md
Due: none

chore(deps): roll back dependency @milkdown/exception to 6.0.0-next.0
  packages/ctx/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 make menu plugin respect editable status
  examples/vanilla/main.ts
  examples/vanilla/package.json
  packages/plugin-menu/src/index.ts
  packages/plugin-menu/src/menubar.ts
  packages/utils/src/macro/force-update.ts
  packages/utils/src/macro/index.ts
  pnpm-lock.yaml
Due: eslint --fix

feat: 🎸 integrate algolia
  .github/workflows/ci.yml
  .vscode/settings.json
  gh-pages/component/Header/Buttons.tsx
  gh-pages/component/Header/index.tsx
  gh-pages/index.html
  gh-pages/shim.d.ts
Due: eslint --fix

chore: 🤖 remove unneeded html code
  gh-pages/404.html
  gh-pages/index.html
Due: none

feat: 🎸 add vercel json
  vercel.json
Due: none

feat: 🎸 add robots.txt
  gh-pages/public/robots.txt
Due: none

feat: 🎸 add sitemap
  gh-pages/public/robots.txt
  gh-pages/public/sitemap.xml
Due: none

feat: 🎸 add helmet for online demo
  gh-pages/component/Route.tsx
  gh-pages/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 improve i18n support for html lang
  gh-pages/component/Route.tsx
Due: eslint --fix

fix: 🐛 ios space bug for newline
  examples/vanilla/main.ts
  packages/plugin-menu/src/default-config.ts
  packages/prose/package.json
  packages/theme-nord/src/style.ts
  packages/theme-nord/src/view.ts
  packages/theme-tokyo/src/style.ts
  packages/theme-tokyo/src/view.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 support for empty theme
  packages/core/src/internal-plugin/theme.ts
  packages/plugin-diagram/src/style.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/button.ts
  packages/plugin-menu/src/select.ts
  packages/plugin-tooltip/src/button-manager/create-tooltip.ts
  packages/plugin-tooltip/src/button-manager/filter-button.ts
  packages/plugin-tooltip/src/button-manager/no-active.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/theme-nord/src/index.ts
  packages/theme-nord/src/style.ts
  packages/theme-pack-helper/src/index.ts
  packages/theme-pack-helper/src/prosemirror-view.ts
  packages/theme-tokyo/src/index.ts
  packages/theme-tokyo/src/style.ts
  packages/theme-tokyo/src/view.ts
Due: eslint --fix

feat: 🎸 warn in console if there's no theme key found
  packages/core/src/internal-plugin/theme.ts
  packages/design-system/src/keys/index.ts
  packages/design-system/src/manager.ts
Due: eslint --fix

feat: 🎸 optimize footnote
  gh-pages/style.css
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/footnote/utils.ts
Due: eslint --fix
