Repository Milkdown/milkdown: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "{packages,gh-pages,integration-test}/**/*.{js,ts,tsx}": ["eslint --fix"],
    "{packages,gh-pages,integration-test}/**/*.json": ["prettier --write"],
    "{packages,gh-pages,integration-test}/**/*.md": ["prettier --write"]
}

fix: 🐛 add workaround plugin for inline nodes
  gh-pages/component/MilkdownEditor/editor.ts
  packages/plugin-emoji/src/node.ts
  packages/preset-commonmark/src/plugin/index.ts
  packages/preset-commonmark/src/plugin/inline-nodes-cursor.ts
Due: eslint --fix

docs: update readme
  README.md
Due: none

refactor: 💡 align the internal prosemirror keys
  packages/core/src/internal-plugin/editor-state.ts
  packages/plugin-clipboard/src/clipboard.ts
  packages/plugin-emoji/src/filter/index.ts
  packages/plugin-listener/src/index.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-prism/src/prism.ts
  packages/plugin-slash/src/prose-plugin/index.ts
  packages/plugin-slash/src/prose-plugin/props.ts
  packages/plugin-tooltip/src/index.ts
  packages/plugin-upload/src/upload.ts
  packages/preset-commonmark/src/mark/link.ts
  packages/preset-commonmark/src/node/hardbreak.ts
  packages/preset-commonmark/src/node/heading.ts
  packages/preset-commonmark/src/node/image.ts
  packages/preset-gfm/src/footnote/definition.ts
  packages/preset-gfm/src/footnote/reference.ts
  packages/preset-gfm/src/table/operator-plugin/index.ts
  packages/prose/src/toolkit/input-rules/custom-input-rules.ts
Due: eslint --fix

fix: 🐛 online demo style issue
  gh-pages/style.css
Due: none

fix: 🐛 add inline nodnes cursor support for firefox
  packages/plugin-emoji/src/node.ts
  packages/preset-commonmark/src/plugin/inline-nodes-cursor.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/weak-sheep-share.md
Due: none

ci: add workflow dispatch for ci
  .github/workflows/ci-for-pr.yml
Due: none

docs: ✏️ add setup guide for nextjs
  gh-pages/pages/integrations/nextjs/index.md
  gh-pages/pages/integrations/react/index.md
  gh-pages/pages/integrations/vue/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
Due: eslint --fix, prettier --write

fix: 🐛 heading node id not right after modified
  packages/preset-commonmark/src/node/heading.ts
Due: eslint --fix

chore(deps): update pnpm/action-setup action to v2.2.2
  .github/workflows/ci-for-pr.yml
  .github/workflows/ci.yml
Due: none

chore(deps): update all dependencies to ^0.13.0
  package.json
  pnpm-lock.yaml
Due: none

feat: add trailing plugin to append a paragragh when insert a node
  packages/plugin-trailing/README.md
  packages/plugin-trailing/package.json
  packages/plugin-trailing/src/index.ts
  packages/plugin-trailing/src/trailing.ts
  packages/plugin-trailing/tsconfig.json
  packages/plugin-trailing/vite.config.ts
Due: eslint --fix, prettier --write

feat: update readme.md
  packages/plugin-trailing/README.md
Due: prettier --write

feat: add a option in paragraph, configurable to keep or drop empty line
  packages/preset-commonmark/README.md
  packages/preset-commonmark/package.json
  packages/preset-commonmark/src/node/paragraph.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 adjust options and exports to support i18n
  gh-pages/pages/guide/i18n/index.md
  gh-pages/route/page-config.ts
  gh-pages/route/page-dict.ts
  packages/plugin-math/src/math-inline/index.ts
  packages/plugin-menu/src/index.ts
  packages/plugin-slash/src/index.ts
Due: eslint --fix, prettier --write

feat(core): call chain commands having same name
  packages/core/src/internal-plugin/commands.ts
Due: eslint --fix

chore: 🤖 upgrade to cypress 10
  .eslintrc.js
  e2e/cypress.config.ts
  e2e/cypress.json
  e2e/cypress/e2e/preset-commonmark/input.cy.ts
  e2e/cypress/e2e/preset-commonmark/shortcut.cy.ts
  e2e/cypress/e2e/preset-commonmark/transform.cy.ts
  e2e/cypress/e2e/preset-gfm/input.cy.ts
  e2e/cypress/e2e/preset-gfm/shortcut.cy.ts
  e2e/cypress/support/e2e.js
  package.json
Due: none

chore(deps): update dependency cypress to v10
  e2e/package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 update snapshot version
  e2e/snapshots.js
Due: none

chore: 🤖 export type
  packages/plugin-slash/src/index.ts
Due: eslint --fix

fix: 🐛 clipboard bug for paste images
  packages/plugin-clipboard/src/clipboard.ts
Due: eslint --fix

chore: 🤖 trigger release
  .changeset/purple-months-switch.md
Due: none

chore(deps): update all dependencies to ^0.14.0
  package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 fix eslint
  .eslintrc.js
Due: none

docs: ✏️ add i18n doc
  gh-pages/component/MilkdownEditor/Outline.tsx
  gh-pages/pages/guide/i18n/index.md
  gh-pages/route/page-config.ts
Due: eslint --fix, prettier --write

fix(deps): update dependency katex to ^0.16.0
  packages/plugin-math/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 extend from a factory cannot inject slice
  examples/vue/App.vue
  examples/vue/CodeFence/CodeFence.ts
  examples/vue/CodeFence/CodeFence.vue
  examples/vue/Milkdown.vue
  examples/vue/VueEditor.tsx
  examples/vue/index.html
  examples/vue/main.ts
  examples/vue/main.tsx
  examples/vue/package.json
  examples/vue/shim.d.ts
  examples/vue/tsconfig.json
  examples/vue/vite.config.ts
  gh-pages/pages/plugins/plugin-factories/index.md
  package.json
  packages/utils/src/factory/common.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  packages/vue/src/Editor.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 trigger release
  .changeset/cyan-candles-shave.md
Due: none

docs: fix typo
  gh-pages/pages/theme/writing-themes/index.md
Due: prettier --write

docs: fix typo (#552)
  gh-pages/pages/theme/writing-themes/index.md
Due: prettier --write

fix(deps): update all dependencies
  gh-pages/package.json
  packages/plugin-diagram/package.json
  packages/react/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🐛 rollback codemirror version since it's not fully release
  gh-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: ✏️ add zh-hans docs for guide section
  gh-pages/pages/guide/collaborative-editing/index.zh-hans.md
  gh-pages/pages/guide/i18n/index.zh-hans.md
  gh-pages/pages/guide/interacting-with-editor/index.md
  gh-pages/pages/guide/interacting-with-editor/index.zh-hans.md
  gh-pages/pages/guide/macros/index.zh-hans.md
  gh-pages/pages/guide/styling/index.zh-hans.md
Due: prettier --write

docs: ✏️ add zh docs for nextjs
  gh-pages/pages/integrations/nextjs/index.zh-hans.md
Due: prettier --write

docs: ✏️ add doc for plugin 101
  gh-pages/pages/plugins/plugins-101/index.zh-hans.md
  gh-pages/pages/plugins/using-plugins/index.zh-hans.md
Due: prettier --write

docs: ✏️ update doc for zh-hans
  gh-pages/pages/plugins/plugin-factories/index.zh-hans.md
Due: prettier --write
